<div {{
  classlist "media__figure"
  (classname "media__figure--" (default align "center"))
  (terinary stroked "media__figure--stroked" "")
  classname
}}>
  {{#>@partial-block}}{{/@partial-block}}
</div>
