<ul class="anchor-nav sticky">
  <li><a href="#content-a" class="anchor-nav__anchor" id="anchor-a">What do fleet mechanics do?</a></li>
  <li><a href="#content-b" class="anchor-nav__anchor" id="anchor-b">Components of vehicle telematics systems</a></li>
  <li><a href="#content-c" class="anchor-nav__anchor" id="anchor-c">What is video telematics?</a></li>
  <li><a href="#content-d" class="anchor-nav__anchor" id="anchor-d">Benefits &amp; use cases for telematics</a></li>
  <li><a href="#content-e" class="anchor-nav__anchor" id="anchor-e">Trends in telematics</a></li>
  <li><a href="#content-f" class="anchor-nav__anchor" id="anchor-f">How Lytx video telematics solutions can help</a></li>
</ul>
