<div class="wrapper">
  <div class="layout layout--major-minor sticky-container">

    <div class="layout--case-study__major rhythm--large">
      {{>@readtime}}
      <div class="anchor-nav-target rhythm--large rich-text" id="content-a">
      {{#>@heading variant="h2"}}What do fleet mechanics do?{{/@heading}}
        <p>Today’s fleet telematics systems have evolved from simple vehicle location information to a pipeline of data that provide a wealth of information about both the vehicle and its operator—all traveling over high-speed wireless or cellular connections. Frequently, the information contains clues indicating areas for improvement, from increasing fuel efficiency and pinpointing vehicle locations, to reducing collisions and saving lives. It’s no surprise, then, that fleet managers and operators have started to invest heavily in modern telematics systems, particularly video telematics, to protect their assets (both human and physical) while gaining a competitive advantage in their markets.</p>
        <p>This article will explain the meaning of fleet telematics, how it works today, and how it is used in a variety of sectors to improve safety, operational efficiency, and customer service. Among the most significant developments in the field involve video telematics and the ability to harness images with video, machine vision, data mining and predictive analytics to drive further improvements. We’ll also cover trends in telematics that are likely to play a major role in the near future.</p>
      </div><!--/ #content-a -->

      <div class="anchor-nav-target rhythm--large rich-text" id="content-b">
        {{#>@heading variant="h2"}}Components of vehicle telematics systems{{/@heading}}

        <p>At its simplest, telematics is a way to collect and use vehicle data to achieve any number of tasks, such as locating a vehicle using signals from GPS telematics. Today, companies can collect a wide variety of telematics data beyond GPS. This table shows a sampling of the major telematics technologies and the types of data each collects:</p>
      </div><!--/ #content-b -->

       {{#>@image-with-feature-icons--list this}}{{/@image-with-feature-icons--list }}

      <div class="anchor-nav-target rhythm--large rich-text" id="content-c">
        {{#>@heading variant="h2"}}What is video telematics?{{/@heading}}
        <p>Among the fastest and most promising developments in field is the development of video telematics. In recent years, the simple addition of a camera has opened the field to a vast number of new uses. Prior to the use of video, telematics data provided basic information on where and when an incident occurred, but not why it happened. Video provided a way for companies to understand why something occurred so they can prevent it from happening again.</p>

        <img srcset="/images/video-telematics.jpg, /images/video-telematics@2x.jpg 2x" src="/images/video-telematics.jpg" alt="video telematics">

        <p>Simply put, video telematics combines video data, computer vision technology, and vehicle data to deliver insights that telematics alone cannot. Traditional driver telematics, for example, can provide fuel data, as well as information about erratic driving events such as hard braking, swerving, or collisions. Video telematics provides the critical context required to create long-term solutions. Because of its power to lead to lasting change, the global market for video telematics is expected to grow 23 percent every year through 2023 as more companies adopt the technology.*</p>
      </div><!--/ #content-c -->

      <div class="anchor-nav-target rhythm--large rich-text" id="content-d">
        {{#>@heading variant="h2"}}Benefits &amp; use cases for telematics{{/@heading}}
        <p>Telematics technology is used to help tackle a wide array of important tasks that help keep fleets running smoothly and safely. Together, the benefits of telematics broadly fall into three main categories: operations, safety, and compliance. Improvements in these areas can help companies focused on fleet productivity to save millions of dollars while helping to improve brand perception.</p>
        {{>@benefits-box--green}}
        {{>@benefits-box--blue}}
        {{>@benefits-box--purple}}
      </div><!--/ #content-d -->

      <div class="anchor-nav-target rhythm--large rich-text" id="content-e">
        {{#>@heading variant="h2"}}Trends in telematics{{/@heading}}
        <p>Recent advances in telematics have increased the technology’s flexibility and functionality. Video telematics in particular has come a long way in the past two decades, it has become more useful and versatile with every mile. Here are four of the most recent telematics trends:</p>
      </div><!--/ #content-e -->

      {{#>@image-with-feature-icons--list }}{{/@image-with-feature-icons--list }}

      <div class="anchor-nav-target rhythm--large rich-text" id="content-f">
        {{#>@heading variant="h2"}}How Lytx video telematics solutions can help{{/@heading}}
        <p>Video telematics solutions combine video-based coaching with predictive analytics to help you take action before a collision happens. The DriveCam® event recorder extends your video telematics further, using livestream video of the outside view and on-demand continual video to expose operational blind spots and show you more critical moments in the field. We offer solutions designed to help companies reduce costs, manage fleet risk, optimize productivity, and improve driver performance. Our solutions are proven to change driver behavior and deliver rapid return on your investment to save you time, money—and most importantly, lives.</p>
        <p>Learn more about how Lytx can help you leverage the most out of your fleet telematics systems. Schedule a customized demo today.</p>
        <p>{{#>@button variant="primary"}}Schedule a demo{{/@button}}</p>
        <p>*Frost & Sullivan, “Global Truck Video Safety Solutions Market Forecast,” September 2017.</p>
      </div><!--/ #content-f -->

      {{>@social-footer--no-cta listName="resources"}}
    </div>

    <div class="layout--case-study__minor">
      {{>@anchor-nav}}
    </div><!--/ first -->
  </div>
</div>
