
      <div class="anchor-nav-target rhythm--large" id="content-b">
        {{#>@heading variant="h2"}}Components of vehicle telematics systems{{/@heading}}
        <p>At its simplest, telematics is a way to collect and use vehicle data to achieve any number of tasks, such as locating a vehicle using signals from GPS telematics. Today, companies can collect a wide variety of telematics data beyond GPS. This table shows a sampling of the major telematics technologies and the types of data each collects:</p>
        {{#>@media-body classname="rhythm"}}
          <div class="img-with-feature-icons__inner-wrap u-mr-auto">
            {{#>@list variant="blank" className="has-border--top"}}
              <li>
                {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                  {{#>@media-figure}}
                    {{#>@icon-ai-brain classname="img-with-feature-icons__feature-icon"}}{{/@icon-ai-brain}}
                  {{/@media-figure}}
                  {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@heading variant="h4" tagName="h3"}}
                      INTEGRATED MV+AI
                    {{/@heading}}
                    <p>
                      Advanced Machine Vision and Artificial Intelligence capture and accurately categorize risky driving behaviors
                    </p>
                  {{/@media-body}}
                {{/@media-object}}
              </li>
              <li>
                {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                  {{#>@media-figure}}
                    {{#>@icon-alerts classname="img-with-feature-icons__feature-icon"}}{{/@icon-alerts}}
                  {{/@media-figure}}
                  {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@heading variant="h4" tagName="h3"}}
                      REAL-TIME, IN-CAB ALERTS
                    {{/@heading}}
                    <p>
                      Light and audio alerts notify drivers of their risky behaviors, helping them stay focused on the road (audio alerts available on SF300 only)
                    </p>
                  {{/@media-body}}
                {{/@media-object}}
              </li>
              <li>
                {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                  {{#>@media-figure}}
                    {{#>@icon-mic classname="img-with-feature-icons__feature-icon"}}{{/@icon-mic}}
                  {{/@media-figure}}
                  {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@heading variant="h4" tagName="h3"}}
                      INTEGRATED MICROPHONE
                    {{/@heading}}
                    <p>
                      Sound recordings from inside and outside the vehicle ensure that you’ll have all the details when an incident occurs
                    </p>
                  {{/@media-body}}
                {{/@media-object}}
              </li>
              <li>
                {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                  {{#>@media-figure}}
                    {{#>@icon-low-light classname="img-with-feature-icons__feature-icon"}}{{/@icon-low-light}}
                  {{/@media-figure}}
                  {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@heading variant="h4" tagName="h3"}}
                      Low-light visibility
                    {{/@heading}}
                    <p>
                      An 8-lumen infrared light provides clear visibility, even at night.
                    </p>
                  {{/@media-body}}
                {{/@media-object}}
              </li>
              <li>
                {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                  {{#>@media-figure}}
                    {{#>@icon-wide-angle classname="img-with-feature-icons__feature-icon"}}{{/@icon-wide-angle}}
                  {{/@media-figure}}
                  {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@heading variant="h4" tagName="h3"}}
                      WIDE-ANGLE DUAL LENS
                    {{/@heading}}
                    <p>
                      Our wide angle, dual lens shares the big picture — on the road and inside your vehicle.
                    </p>
                  {{/@media-body}}
                {{/@media-object}}
              </li>
            {{/@list}}
          </div>
        {{/@media-body}}
      </div><!--/ #content-b -->
