:root {
  /* The base font-family for the root html element. */
  --type-font-family: var(--font-stack--default);

  /* The base font-size for the root html element. */
  --type-font-size: 14px;

  /* The base line height for the root html element. */
  --type-line-height: 1.5;
}
