{{#>@media-object variant="2-1"}}
  {{#>@media-figure}}
    <img src="//fpoimg.com/555x333" alt="lorem ipsum">
  {{/@media-figure}}

  {{#>@media-body}}
    <h5 class="heading heading--h5">Media 2-1</h5>
    <h1 class="heading heading--h2">
      The body:figure ratio of this media object is 2:1
    </h1>
  {{/@media-body}}
{{/@media-object}}
