<div {{
  classlist "media"
  (terinary rhythm rhythm "")
  (classname "media--" (default variant "default"))
  (classname "media--align-" (default align "center"))
  (classname "media--justify-" (default justify "default"))
  (terinary noStack "media--no-stack" "")
  (terinary split "media--split" "")
  (terinary split-bordered "media--split media--split-bordered" "")
  (terinary flipSmall "media--flip-small" "")
  (terinary flipLarge "media--flip-large" "")
  (terinary flushed "media--flushed" "")
  classname
}}>
    {{#>@partial-block}}{{/@partial-block}}
</div>
