{{#>@media-object variant="3-2 jump-links__target"}}
  {{#>@media-figure}}
    <img src="//fpoimg.com/698x561" alt="lorem ipsum">
  {{/@media-figure}}

  {{#>@media-body classname="rhythm--large"}}
    {{#>@heading variant="h2"}}Cloud-connected cameras{{/@heading}}
    <p>Help protect your business with full fleet visibility. Capture critical incidents with cloud-connected, continually recorded video and quickly find the clips you need to understand what really happened.</p>
    <p>{{#>@button variant="primary" href="#"}}Product details{{/@button}}</p>
  {{/@media-body}}
{{/@media-object}}
