{{#>@media-object flipSmall=true}}
  {{#>@media-figure}}
    <img src="//fpoimg.com/555x333" alt="lorem ipsum">
  {{/@media-figure}}

  {{#>@media-body classname="rhythm--small"}}
    <h5 class="heading heading--h5">Media Flip Small</h5>
    <h1 class="heading heading--h2">
      When flipSmall is true the elements reverse order below the medium breakpoint.
    </h1>
  {{/@media-body}}
{{/@media-object}}
