{{#>@media-object variant="split" align="bottom"}}
  {{#>@media-figure}}
    <img src="//fpoimg.com/555x333" alt="lorem ipsum">
  {{/@media-figure}}

  {{#>@media-body}}
    <h5 class="heading heading--h5">Media Align Bottom</h5>
    <h1 class="heading heading--h2">
      The media body &amp; figure are aligned to the bottom of the container.
    </h1>
  {{/@media-body}}
{{/@media-object}}
