{{#>@media-object variant="split"}}
  {{#>@media-body}}
    <h5 class="heading heading--h5">Media Reversed</h5>
    <h1 class="heading heading--h2">
      Media objects can display their internal elements in whichever order you need to compose them in.
    </h1>
  {{/@media-body}}

  {{#>@media-figure}}
    <img src="//fpoimg.com/555x333" alt="lorem ipsum">
  {{/@media-figure}}
{{/@media-object}}
