<div class="stat">
  <figure class="stat__figure">
    <div class="stat__number">{{default number "50%"}}</div>
    <figcaption class="stat__desc">{{default desc "Up to 50% reduction in collision frequency"}}</figcaption>
  </figure>
</div>
