{{#>@full-width-wrapper
  color="gray-4"
  rhythm="extra-large"
  classname="img-with-feature-icons"
}}
  <div>
    {{#>@media-object variant="split"}}
      {{#>@media-body classname="rhythm"}}
        {{#>@heading variant="h2"}}
          Intelligent Dashcams, built to last
        {{/@heading}}

        <p>
          Our state-of-the-art SF Series Event Recorders pair Machine Vision with Artificial Intelligence to accurately identify and categorize the moments that matter, allowing you see risk as it occurs and transform your fleet. Our rugged, reliable hardware does it all in a single, integrated device that simplifies installation and eliminates connection issues.
        </p>
      {{/@media-body}}

      {{#>@media-figure classname="text--align-left"}}
        <img srcset="{{path (default logo '/images/event-recorder.png')}}, {{path (default logo-2x '/images/event-recorder@2x.png')}} 2x" src="{{path (default logo '/images/event-recorder.png')}}" alt="event recorder">
      {{/@media-figure}}
    {{/@media-object}}
  </div>

  <div>
    {{#>@media-object variant="default" justify="space-between" align="top"}}
      {{#>@media-body classname="rhythm"}}
        <div class="img-with-feature-icons__inner-wrap u-mr-auto">
          {{#>@list variant="blank" className="has-border--top"}}
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-1998 classname="img-with-feature-icons__feature-icon"}}{{/@icon-1998}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    DriveCam, Inc. is founded
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2001 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2001}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    Developed the first DC2 event recorder, a durable, scalable with both in-cab and forward views
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2002 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2002}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    Created software that enabled clients to review driving videos on their computers and score themselves
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2005 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2005}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    Analyzed video for a client for the first time and became a managed services company
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2007 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2007}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    Integrated cellular technology in the DriveCam® event recorder, increasing the reliability and efficiency of downloaded video.
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2008 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2008}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  <p>
                    Unveiled RiskPredict® software to recognize patterns and more accurately identify risky driving.
                  </p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2009 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2009}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Launched DriveCam Online®, allowing clients to access and view data efficiently and securely</li>
                        <li>Virginia Tech Transportation Institute study showed a significant reduction in risky driving with the DriveCam® program</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2010 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2010}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                  {{#>@list}}
                        <li>Saw an 87% increase in subscriptions</li>
                        <li>Launched fleet tracking to help clients with routing efficiency</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2011 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2011}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Acquired RAIR&reg; to offer compliance solutions for clients</li>
                        <li>Expanded into the trucking market with the DriveCam&reg; safety program</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
          {{/@list}}
        </div>
      {{/@media-body}}

      {{#>@media-body classname="rhythm"}}
        <div class="img-with-feature-icons__inner-wrap u-ml-auto">
          {{#>@list variant="blank" className="has-border--top"}}
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2012 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2012}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Released DC3P event recorder with upgraded image quality and ability to capture video when vehicles exceed the speed limit</li>
                        <li>Reached 100,000 subscriptions</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2014 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2014}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Announced the first Driver and Coach of the Year awards</li>
                        <li>Expanded portfolio with DriveCam Protect®, a video-based safety program for commercial fleets with fewer than 340 vehicles</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2015 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2015}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Expanded into new global headquarters thanks to the success of 1,300 clients</li>
                        <li>Launched SV2 event recover and ActiveVision® service to effectively identify distracted and drowsy driving, unplanned lane departures and other unsafe actions</li>
                        <li>Reached 200,000 subscriptions</li>
                        <li>Announced record growth and expanded market share to 66% according to Frost & Sullivan</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2016 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2016}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Unveiled enhancements program with streamlined workflow and simplified mobile fleet tracking</li>
                        <li>Reached 300,000 subscriptions</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2017 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2017}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    {{#>@list}}
                        <li>Launched Lytx Video Services&#8480; with on-demand, continual video, live streaming and support for multiple cameras</li>
                        <li>Hit 400,000 subscriptions</li>
                    {{/@list}}
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2018 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2018}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    <p>
                        Achieved the 3,000th unique client fleet to adopt the DriveCam program
                    <p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
            <li>
              {{#>@media-object variant="default" flushed="true" noStack="true" align="top"}}
                {{#>@media-figure}}
                  {{#>@icon-2019 classname="img-with-feature-icons__feature-icon"}}{{/@icon-2019}}
                {{/@media-figure}}
                {{#>@media-body classname="img-with-feature-icons__body"}}
                    <p>
                        Launched an updated, modular product portfolio, including the Lytx Video Platform, Risk Detection Service, Driver Safety Program, and Fleet Tracking Service.
                    <p>
                {{/@media-body}}
              {{/@media-object}}
            </li>
          {{/@list}}
        </div>
      {{/@media-body}}
    {{/@media-object}}
  </div>

  <div class="text--align-center">
    {{#>@button size="large" variant="primary" icon="true" href="#"}}Download Specifications PDF{{/@button}}
  </div>
{{/@full-width-wrapper}}
