<div class="wrapper rhythm jump-links">
  <h2 class="heading heading--h2">Learn more about our fleet management and compliance solutions</h2>
  <p><strong>Choose the statement that best describes your needs.</strong></p>
  <div class="jump-links__anchors">
    <a href="#cloud" class="jump-links__anchor">
      {{>@icon-jump-video-evidence}}
      <i>Get video evidence with cloud-connected cameras</i>
    </a>
    <a href="#safety" class="jump-links__anchor">
      {{>@icon-jump-driversafety}}
      <i>Improve drive safety</i>
    </a>
    <a href="#optimize" class="jump-links__anchor">
      {{>@icon-jump-fleettracking}}
      <i>Track and optimize my fleet</i>
    </a>
    <a href="#streamline" class="jump-links__anchor">
      {{>@icon-jump-eld_compliance}}
      <i>Streamline DOT compliance management</i>
    </a>
  </div>

  <div class="jump-links__target" id="cloud">
    {{>@media-object--3-2 classname="reversed text--align-left"}}
  </div>

  <div class="jump-links__target" id="safety">
    {{>@media-object--3-2 classname=" text--align-left"}}
  </div>

  <div class="jump-links__target" id="optimize">
    {{>@media-object--3-2 classname="reversed text--align-left"}}
  </div>

  <div class="jump-links__target" id="streamline">
    {{>@media-object--3-2 classname="text--align-left"}}
  </div>
</div>
