node_modules
tmp
.DS_Store
*.log
stats
public/
static/

\.vscode/


######## DEV CONVENIENCE ########
## It's nice to be able to make user-specific build scripts, for example, and not have to do the stash dance.
# usage in filename: [deploy-remote-jenkins-tester.ignore.cmd]
*.ignore.*
