<div class="bg--gray-0 color--white">
  <div class="wrapper benefits-header">
    {{#>@heading variant="h4"}}The Lytx Difference{{/@heading}}
  </div>
  <div class="wrapper">
    <div class="benefits">

      <div class="benefits__item rhythm">
        <div class="benefits__heading">

          {{>@icon-customer-support}}
          {{#>@heading variant="h2"}}Exceptional customer support{{/@heading}}

        </div><!--/ __heading -->
        <div class="benefits__content">
          <p>We’re here for you, every step of the way. From designing custom solutions to training teams to use new technology to helping you get the greatest return on your investment, our team is invested in your success.</p>
        </div><!--/ __content -->
        <div class="benefits__cta">
          {{#>@button variant="outline-white"}}Learn more{{/@button}}
        </div><!--/ __cta -->
      </div><!--/ __item -->

      <div class="benefits__item rhythm">
        <div class="benefits__heading">

          {{>@icon-industry-leading}}
          {{#>@heading variant="h2"}}Industry leading experience{{/@heading}}

        </div><!--/ __heading -->
        <div class="benefits__content">
          <p>For 20 years, Lytx has led the way in developing innovative safety solutions, with a focus on saving lives on our roads and in our communities.</p>
        </div><!--/ __content -->
        <div class="benefits__cta">
          {{#>@button variant="outline-white"}}Learn more{{/@button}}
        </div><!--/ __cta -->
      </div><!--/ __item -->

      <div class="benefits__item rhythm">
        <div class="benefits__heading">

          {{>@icon-insights}}
          {{#>@heading variant="h2"}}Accurate, actionable insights {{/@heading}}

        </div><!--/ __heading -->
        <div class="benefits__content">
          <p>Lytx’s insights are based on data from more than 80 billion miles driven — the largest data source of its kind on driver behavior — with an additional billion driving miles added every two weeks.</p>
        </div><!--/ __content -->
        <div class="benefits__cta">
          {{#>@button variant="outline-white"}}Learn more{{/@button}}
        </div><!--/ __cta -->
      </div><!--/ __item -->

    </div><!--/ benefits -->
  </div>
</div>
