{{#>@full-width-wrapper color="white" rhythm="large"}}
    {{#>@heading variant="h2" className="text--align-center"}}
        Forward-thinking fleet management
    {{/@heading}}

    <div class="layout--3up layout--3up-fit home--3up">
      {{#each tiles}}
          {{#>@icon-tile flat="true" linkTextTag="h3" className="heading heading--h3"}}{{/@icon-tile}}
      {{/each}}
    </div>
{{/@full-width-wrapper}}
