<div class="layout layout--case-study grid-container">
  <div class="layout--case-study__major wrapper bg--gray-4 rhythm">
    {{#>@heading variant="h1"}}Main component{{/@heading}}
    <p>Accumsan lacus vel facilisis volutpat est velit egestas. Risus ultricies tristique nulla aliquet enim tortor at. Ultrices dui sapien eget mi proin. Scelerisque varius morbi enim nunc faucibus. Imperdiet sed euismod nisi porta lorem mollis. Eu augue ut lectus arcu bibendum.</p>
  </div>
  <div class="layout--case-study__first wrapper bg--gray-4 rhythm">
    {{#>@heading variant="h2"}}First component{{/@heading}}
    <p>Pretium nibh ipsum consequat nisl vel pretium. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan.</p>
  </div>
  <div class="layout--case-study__second wrapper bg--gray-4 rhythm">
    {{#>@heading variant="h2"}}second component{{/@heading}}
    <p>Pretium nibh ipsum consequat nisl vel pretium. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan.</p>
  </div>
</div>