<div class="bg--gray-4">
  <div class="wrapper">
    <div class="table table--tab js-tab-table">
      <div id="js-table-wrap" class="tab-col-2-active">
        <!-- mobile tabs -->
        <div class="table__caption">
          <div class="table__row">
            <div></div>
            <div class="table__cell table--tab__tab">
              <button type="button" data-tab="tab-col-1-active" class="js-tab-trigger heading heading--h4 table--tab__trigger table--tab__trigger-1">Risk Detection Service</button>
            </div>
            <div class="table__cell table--tab__tab">
              <button type="button" data-tab="tab-col-2-active" class="js-tab-trigger heading heading--h4 table--tab__trigger table--tab__trigger-2">Driver Safety Program</button>
            </div>
          </div><!--/ __row -->
        </div><!--/ __caption -->

        <div class="table__head">
          <div class="table__row">
            <div class="table__header table__cell table--tab__caption">
              <h2 class="heading heading--h2">Compare safety solutions</h2>
            </div><!--/ __header -->
            <div class="table__header table__cell tab-col tab-col-1 rhythm">
              <h3 class="heading heading--h3">Risk Detection Service</h3>
              <h4 class="heading heading--h5">Best for monitoring fleet risk</h4>
            </div><!--/ __header -->
            <div class="table__header table__cell tab-col tab-col-2 rhythm">
              <h3 class="heading heading--h3">Driver Safety Program</h3>
              <h4 class="heading heading--h5">Best for changing driver behavior</h4>
            </div><!--/ __header -->
          </div><!--/ __row -->
        </div><!--/ __head -->

        <div class="table__body">

          <div class="table__row">
            <div class="table__row-header table__cell">
              {{>@icon-compare-video}}
              <div class="rhythm--small">
                <h4 class="heading heading--h4">Lytx drivecam event recorder</h4>
                <p>Innovative AI+MV technology accurately identifies and catgorizes risk</p>
              </div>
            </div><!--/ __row-header -->
            <div class="table__cell tab-col tab-col-1">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
            <div class="table__cell tab-col tab-col-2">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
          </div><!--/ __row -->

          <div class="table__row">
            <div class="table__row-header table__cell">
              {{>@icon-search-video}}
              <div class="rhythm--small">
                <h4 class="heading heading--h4">Searchable video library</h4>
                <p>Lytx video platform allows you to find the exact clip  you need within minutes of capture</p>
              </div>
            </div><!--/ __row-header -->
            <div class="table__cell tab-col tab-col-1">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
            <div class="table__cell tab-col tab-col-2">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
          </div><!--/ __row -->

          <div class="table__row">
            <div class="table__row-header table__cell">
              {{>@icon-risk-clips}}
              <div class="rhythm--small">
                <h4 class="heading heading--h4">Clips categorized by risk type</h4>
                <p>Includes hard stops, following distance, cell phone use and more </p>
              </div>
            </div><!--/ __row-header -->
            <div class="table__cell tab-col tab-col-1">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
            <div class="table__cell tab-col tab-col-2">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
          </div><!--/ __row -->

          <div class="table__row">
            <div class="table__row-header table__cell">
              {{>@icon-coaching}}
              <div class="rhythm rhythm--small">
                <h4 class="heading heading--h4">Perscriptive video-based coaching</h4>
                <p>Change driver behavior and improve safety with our proven coaching workflows</p>
              </div>
            </div><!--/ __row-header -->
            <div class="table__cell tab-col tab-col-1">
              &nbsp;
            </div><!--/ __cell -->
            <div class="table__cell tab-col tab-col-2">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
          </div><!--/ __row -->

          <div class="table__row">
            <div class="table__row-header table__cell">
              {{>@icon-analytics}}
              <div class="rhythm rhythm--small">
                <h4 class="heading heading--h4">Robust reporting to track progress</h4>
                <p>Comprehensive reports include industry benchmarks, progress toward metrics, ROI analysis, coach and driver reports, behavior reports and more. </p>
              </div>
            </div><!--/ __row-header -->
            <div class="table__cell tab-col tab-col-1">
              &nbsp;
            </div><!--/ __cell -->
            <div class="table__cell tab-col tab-col-2">
              {{>@checkmark}}
              <span class="a11y-visually-hidden">Yes</span>
            </div><!--/ __cell -->
          </div><!--/ __row -->
        </div><!--/ __body -->

        <div class="table__foot">
          <div class="table__row table--comparison__summary">
            <div class="table__cell"></div>
            <div class="table__cell tab-col tab-col-1">
              {{#>@button variant="primary" href="#"}}About risk detection{{/@button}}
            </div>
            <div class="table__cell tab-col tab-col-2">
              {{#>@button variant="primary" href="#"}}About driver safety{{/@button}}
            </div><!--/ __summary -->
          </div>
        </div>
      </div><!--/ #js-table-wrap -->
    </div><!--/ table -->
  </div><!--/ wrapper -->
</div><!--/ bg-gray-4 -->
