<table>
  <caption>Optional caption</caption>
  <thead>
    <tr>
      <th>Column heading 1</th>
      <th>Column heading 2</th>
      <th>Column heading 3</th>
      <th>Column heading 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Row heading 1</th>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <th>Row heading 2</th>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <th>Row heading 3</th>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <th>Row heading 4</th>
      <td>footer</td>
      <td>footer</td>
      <td>footer</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        Optional summary
      </td>
    </tr>
  </tfoot>
</table>
