<div {{classlist 'social-footer-links' classname}}>
    <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">LinkedIn</span>{{>@linkedin-share}}</a>
    <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">Twitter</span>{{>@twitter-share}}</a>
</div>
