<div class="social-footer">
  <div class="social-footer__primary rhythm">
    {{#>@heading variant="h4"}}Share{{/@heading}}
    <div>
      <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">LinkedIn</span>{{>@linkedin-share}}</a>
      <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">Facebook</span>{{>@facebook-share}}</a>
      <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">Twitter</span>{{>@twitter-share}}</a>
    </div>
  </div>
  <div class="social-footer__tertiary rhythm">
    <a href="javascript:history.back()" class="left-arrow">Back to all {{default listName 'news'}}</a>
  </div>
</div>
