{{#>@full-width-wrapper color="gray-4" rhythm="extra-large"}}

  {{#>@media-object variant="split" align="center"}}
    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h2"}}
        Benefits and perks
      {{/@heading}}

      <p>
        Our employees are our greatest asset. To thank you for sharing your skills, knowledge, and talents, we work hard to provide competitive benefits that make working at Lytx enjoyable and rewarding.
      </p>
    {{/@media-body}}

    {{#>@media-figure}}
      <img srcset="//fpoimg.com/666x333, //fpoimg.com/1332x666 2x" src="//fpoimg.com/666x333" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}

  {{#>@media-object variant="default" justify="space-between" align="top"}}
      {{#>@image-with-feature-icons--list mediaBody="true"}}{{/@image-with-feature-icons--list}}
  {{/@media-object}}

{{/@full-width-wrapper}}
