{{#>@full-width-wrapper color="gray-4" rhythm="extra-large"}}
  {{#>@heading variant="h1" className="text--align-center"}}
    Board of Directors
  {{/@heading}}

  <div class="layout layout--3col">
    {{>@modal--directors
      id="director--1"
      headId="directors-modal-heading--1"
      conId="directors-modal-content--1"
    }}
    {{>@modal--directors
      id="director--2"
      headId="directors-modal-heading--2"
      conId="directors-modal-content--2"
    }}
    {{>@modal--directors
      id="director--3"
      headId="directors-modal-heading--3"
      conId="directors-modal-content--3"
    }}
    {{>@modal--directors
      id="director--4"
      headId="directors-modal-heading--4"
      conId="directors-modal-content--4"
    }}
    {{>@modal--directors
      id="director--5"
      headId="directors-modal-heading--5"
      conId="directors-modal-content--5"
    }}
    {{>@modal--directors
      id="director--6"
      headId="directors-modal-heading--6"
      conId="directors-modal-content--6"
    }}
  </div>

{{/@full-width-wrapper}}
