{{#>@full-width-wrapper color="white" rhythm="extra-large"}}
  {{#>@heading variant="h1" className="text--align-center"}}
    Lytx Leadership
  {{/@heading}}

  <div class="layout layout--4up">
    {{>@modal--leadership
      id="leader--1"
      headId="leadership-modal-heading--1"
      conId="leadership-modal-content--1"
    }}
    {{>@modal--leadership
      id="leader--2"
      headId="leadership-modal-heading--2"
      conId="leadership-modal-content--2"
    }}
    {{>@modal--leadership
      id="leader--3"
      headId="leadership-modal-heading--3"
      conId="leadership-modal-content--3"
    }}
    {{>@modal--leadership
      id="leader--4"
      headId="leadership-modal-heading--4"
      conId="leadership-modal-content--4"
    }}
    {{>@modal--leadership
      id="leader--5"
      headId="leadership-modal-heading--5"
      conId="leadership-modal-content--5"
    }}
    {{>@modal--leadership
      id="leader--6"
      headId="leadership-modal-heading--6"
      conId="leadership-modal-content--6"
    }}
    {{>@modal--leadership
      id="leader--7"
      headId="leadership-modal-heading--7"
      conId="leadership-modal-content--7"
    }}
    {{>@modal--leadership
      id="leader--8"
      headId="leadership-modal-heading--8"
      conId="leadership-modal-content--8"
    }}
    {{>@modal--leadership
      id="leader--9"
      headId="leadership-modal-heading--9"
      conId="leadership-modal-content--9"
    }}
    {{>@modal--leadership
      id="leader--10"
      headId="leadership-modal-heading--10"
      conId="leadership-modal-content--10"
    }}
    {{>@modal--leadership
      id="leader--11"
      headId="leadership-modal-heading--11"
      conId="leadership-modal-content--11"
    }}
  </div>

{{/@full-width-wrapper}}
