{{#>@full-width-wrapper color="white" rhythm="extra-large"}}
  {{#>@media-object variant="1-2" align="center"}}
    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h2"}}
        Your partner in fleet management, safety and compliance
      {{/@heading}}
      <p>
        Getting the most out of your investment in fleet management or compliance solutions requires changing organizational culture, training teams on new systems and gaining buy-in from every level of your organization. We’re here to support your success at every stage, before, during and after implementation. Here are just a few of the key teams at Lytx who dedicate their work to helping you achieve your goals, demonstrate ROI, and improve safety at your organization.
      </p>
    {{/@media-body}}

    {{#>@media-figure}}
      <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}

    {{#>@media-object variant="1-2--rev" align="center"}}
    {{#>@media-figure}}
      <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
    {{/@media-figure}}

    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h2"}}
        24-7 customer service
      {{/@heading}}
      <p>
        In addition to our self-service support platform, the Lytx support center team is available at all times to answer questions, troubleshoot issues, or share resources to can help you get the most out of our solutions.
      </p>
    {{/@media-body}}
  {{/@media-object}}

  {{#>@media-object variant="1-2" align="center"}}
    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h2"}}
        Account and project management
      {{/@heading}}
      <p>
        You’ll work with a dedicated account manager who will help you identify and exceed your program goals, through implementation and beyond. For complex, enterprise-level implementations, our project managers establish plans and timing, keep communication flowing, and coordinate all the details.
      </p>
    {{/@media-body}}

    {{#>@media-figure}}
      <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}

  {{#>@media-object variant="1-2--rev" align="center"}}
    {{#>@media-figure}}
      <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
    {{/@media-figure}}

    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h2"}}
        Professional human review
      {{/@heading}}
      <p>
        Our robust Driver Safety Program offers an additional layer of accuracy and analysis by sending all recorded risky driving moments through our professional review team. This human review virtually eliminates noise and false positives while adding helpful context to the video clips you receive.
      </p>
    {{/@media-body}}
  {{/@media-object}}
{{/@full-width-wrapper}}
