{{>@global-header}}

{{#>@full-width-wrapper color="white"}}
  <div class="layout--major-minor">
    {{>@event}}
    {{>@event-form}}
  </div>
{{/@full-width-wrapper}}

{{>@related-resource}}

{{>@global-footer}}
