{{#>@full-width-wrapper color="text" rhythm="extra-large"}}
  {{#>@heading variant="h2" className="text--align-center color--white"}}
  Self Guided Support
  {{/@heading}}

  <div class="layout--5up layout--5up-fit layout--5up-stretch">
      {{#each tiles}}
          {{#>@icon-tile}}{{/@icon-tile}}
      {{/each}}
  </div>
{{/@full-width-wrapper}}
