.featured-resource {
  .media {
    &--featured-resource {
      /* !importants in here to ensure we override base styles elsewhere */
      & .media__body {
        flex: 0 0 34%;
        margin-right: 0 !important;
        order: 10 !important;
        padding: 5rem 0 0 0 !important;

        @media (--medium-large) {
          max-width: 275px;
          order: -10 !important;
          padding: 5rem 2rem 0 0 !important;
        }

        @media (--large) {
          margin-right: 0 !important;
          padding: 3.5rem 0 0 !important;
        }

        @media (--extra-large) {
          margin-right: 0 !important;
          padding: 3.5rem 0 0 0 !important;
        }
      }

      & .media__figure {
        align-self: center;
        padding-left: 62px;
        position: relative;

        @media (--large) {
          align-self: flex-end;
          flex: 0 0 66%;
          margin-right: 0;
          padding-left: calc(62px + 1rem);
        }
      }
    }
  }

  &__cover {
    left: 0;
    max-width: 30%;
    position: absolute;
    top: 5%;

    @media (--medium-small) {
      top: 7rem;
    }

    @media (--medium-large) {
      left: 1rem;
    }

    @media (--extra-large) {
      top: 15rem;
    }
  }

  .media__body.media__body--padded {
    @media (--medium-large) {
      & > * {
        margin: auto;

        & + * {
          margin-top: 1em;
        }
      }
    }
  }
}
