{{#>@full-width-wrapper color="white" className="contact-list-with-icons" rhythm="large"}}
    <div class="layout--4up layout--4up-fit layout--4up-stretch">
        {{#each lists}}
            {{#>@contact-list-with-icons}}{{/@contact-list-with-icons}}
        {{/each}}
    </div>
{{/@full-width-wrapper}}
