<nav class="global-nav js-global-nav">
  <ul class="nav js-nav">
    <li class="nav__category">
      <a class="nav__menu-toggle" href="#">
        Solutions
        {{>@chevron-right class="nav__chevron"}}
      </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li class="nav__card rhythm">
              <h3 class="heading heading--h3">Solutions designed to meet your needs</h3>
              <div class="nav-card__body">
                <p>Lorem ipsum dolor sit amet consectetur. Adipisicing elit. Eveniet voluptas animi corrupti sequi deleniti iure similique.</p>
              </div>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav__category">
      <a class="nav__menu-toggle" href="#"
      >About <span class="u-hires-only u-inline">us</span>
      {{>@chevron-right class="nav__chevron"}}
    </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li class="nav__card rhythm">
              <h3 class="heading heading--h3">Solutions designed to meet your needs</h3>
              <div class="nav-card__body">
                <p>Lorem ipsum dolor sit amet consectetur. Adipisicing elit. Eveniet voluptas animi corrupti sequi deleniti iure similique.</p>
              </div>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav__category">
      <a class="nav__menu-toggle" href="#
      ">Clients
      {{>@chevron-right class="nav__chevron"}}
    </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li class="nav__card rhythm">
              <h3 class="heading heading--h3">Solutions designed to meet your needs</h3>
              <div class="nav-card__body">
                <p>Lorem ipsum dolor sit amet consectetur. Adipisicing elit. Eveniet voluptas animi corrupti sequi deleniti iure similique.</p>
              </div>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav__category">
      <a class="nav__menu-toggle" href="#">
        Resources
        {{>@chevron-right class="nav__chevron"}}
      </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li class="nav__card rhythm">
              <h3 class="heading heading--h3">Solutions designed to meet your needs</h3>
              <div class="nav-card__body">
                <p>Lorem ipsum dolor sit amet consectetur. Adipisicing elit. Eveniet voluptas animi corrupti sequi deleniti iure similique.</p>
              </div>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav__category">
      <a class="nav__menu-toggle" href="#">
        Contact <span class="u-hires-only u-inline">us</span>
        {{>@chevron-right class="nav__chevron"}}
      </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li class="nav__card rhythm">
              <h3 class="heading heading--h3">Solutions designed to meet your needs</h3>
              <div class="nav-card__body">
                <p>Lorem ipsum dolor sit amet consectetur. Adipisicing elit. Eveniet voluptas animi corrupti sequi deleniti iure similique.</p>
              </div>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
            <li>
              <a class="nav__link rhythm" href="#">
                <span class="link__head">
                  Sub Page
                  {{>@chevron-right class="subnav__chevron"}}
                </span>
                <p class="link__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut dignissimos, neque facere cumque.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav__category u-medres-up">
      <a class="nav__menu-toggle nav__search" href="/search-results">
        <span class="a11y-visually-hidden">Search</span>
        {{>@search-icon class="icon--search"}}
      </a>

      <div class="global-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap nav__search-inner-wrap">
          <div class="form-wrapper theme--primary">
            <fieldset class="rhythm">
              <label for="global-search" class="heading heading--h4 heading--label">What are you searching for?</label>
              <div class="input-group--inline">
                <div class="input-group__prefix">
                  <span class="input-group__icon">
                    {{>@search-icon class="icon--search"}}
                  </span>
                </div>
                <input type="text" class="" id="global-search">
                 <div class="input-group__suffix js-search-clear">
                  <span class="input-group__icon">
                    <button type="button" class="button--plain"> &times; </button>
                  </span>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </li>
    <li class="nav__category u-lores-only">
      <a class="nav__cta" href="#">Get Started</a>
    </li>
  </ul>
</nav>
