<div class="logo-box">
  <img class="logo-box__img" srcset="{{path (default logo '/images/logo-fleetowner.png')}}, {{path (default logo-2x '/images/logo-fleetowner@2x.png')}} 2x" src="{{path (default logo '/images/logo-fleetowner.png')}}" alt="{{altText}}">
</div>
