{{#>@full-width-wrapper
  color="white"
}}
  {{#>@media-object variant="split"}}
    {{#>@media-body classname="rhythm--large"}}
      <h2 class="heading heading--h2">
        The insights you need to protect your drivers and your bottom line
      </h2>
      <p>
        At Lytx, we’re focused on saving lives on our roadways and helping you do business better. All of our solutions begin with cloud-connected cameras, sensors, and video, and extend to services that share relevant insights based on more than 80 billion miles of driving data — the largest database of its kind — to transform fleet safety and organizational culture. We’ve developed a wide range of modular, customizable solutions to help our clients extend their visibility, improve driver safety, track vehicles, and streamline compliance management.
      </p>
    {{/@media-body}}

    {{#>@media-figure classname="animate"}}
      <img src="/images/2_insights_you_need.jpg" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}
{{/@full-width-wrapper}}
