<div class="carousel--autoplay rhythm--large">
  <div class="carousel__container">
    <div class="carousel__cell">
      {{#>@blockquote--testimonial
        noImg="true"
        quote="“Prior to implementing Lytx, all we could do once a driver left our plant was make sure he returned on time. Now, we are actually able to manage drivers while they are gone and can ensure they are getting the coaching they need to ensure the results we expect.”"
        cite="Rick Maidens, Director of Safety and Risk Management, U.S. Concrete"
      }}{{/@blockquote--testimonial}}
    </div>

    <div class="carousel__cell">
      {{#>@blockquote--testimonial}}{{/@blockquote--testimonial}}
    </div>

    <div class="carousel__cell">
      {{#>@blockquote--testimonial
        noImg="true"
        quote="“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates, voluptas vero dolore perspiciatis deleniti quasi perferendis nobis facilis commodi voluptate, esse, unde dolorem modi fugiat a earum mollitia omnis.”"
        cite="Martin Blank, Director of Grosse Pointe Waste Management"
      }}{{/@blockquote--testimonial}}
    </div>
  </div>
</div>
