<div class="carousel rhythm--large">
  <div class="carousel__container">
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=1&bg_color=4287f5&text_color=ffffff, //fpoimg.com/1400x934?text=1&bg_color=4287f5&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=1&bg_color=4287f5&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=2&bg_color=3b3b3b&text_color=ffffff, //fpoimg.com/1400x934?text=2&bg_color=3b3b3b&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=2&bg_color=3b3b3b&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=3&bg_color=42f5e3, //fpoimg.com/1400x934?text=3&bg_color=42f5e3 2x" src="//fpoimg.com/700x467?text=3&bg_color=42f5e3" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=4&bg_color=ababab&text_color=ffffff, //fpoimg.com/1400x934?text=4&bg_color=ababab&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=4&bg_color=ababab&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=5&bg_color=b91ee8&text_color=ffffff, //fpoimg.com/1400x934?text=5&bg_color=b91ee8&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=5&bg_color=b91ee8&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=6&bg_color=e81e1e&text_color=ffffff, //fpoimg.com/1400x934?text=6&bg_color=e81e1e&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=6&bg_color=e81e1e&text_color=ffffff" alt="lorem ipsum">
    </div>
  </div>

  <div class="carousel__controls">
      <button type="button" class="carousel__control-arrow carousel__control-prev is-active">
        {{>@arrow-left class="carousel__icon"}}
      </button>
      <span class="carousel__current">&nbsp;</span>
      <span class="carousel__seperator">&ndash;</span>
      <span class="carousel__next">&nbsp;</span>
      <button type="button" class="carousel__control-arrow carousel__control-next is-active">
        {{>@arrow-right class="carousel__icon"}}
      </button>
    </div>
</div>
