{{#>@full-width-wrapper
  color="white"
  className="related-resource"
  rhythm="large"
  id="section--related-resource"
}}

    {{#>@media-object variant="1-2" align="top"}}
        {{#>@media-body classname="rhythm"}}
            <div class="rhythm--small">
              <h4 class="heading heading--h4">{{default subHead "Related Resources"}}</h4>
              <h3 class="heading heading--h3">
                {{default headingText "Learn more about how Lytx can support your business and your drivers."}}
              </h3>
            </div>
            <p>Adding video to your vehicles can present a big change for your drivers and your business culture. We’ve created a wealth of resources to support our customers throughout the process.</p>
            <p>
                <a href="#">All Resources</a>
            </p>
        {{/@media-body}}

         {{#>@media-figure}}
            <div class="layout--3up layout--3up-fit">
                <div class="wheel-placeholder-card wheel-box">
                    <img src="//fpoimg.com/555x333?text=Uberfllp%20placeholder" alt="lorem ipsum">
                    <div class="wheel-padding">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident placeat, facere recusandae aut tenetur odio ullam nemo, voluptas ipsa nulla, accusantium magni quasi dolorem perspiciatis doloremque neque? Cupiditate, animi quidem?</p>
                    </div>
                </div>
                <div class="wheel-placeholder-card wheel-box">
                    <img src="//fpoimg.com/555x333?text=Uberfllp%20placeholder" alt="lorem ipsum">
                    <div class="wheel-padding">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, illo. Facere maxime eius placeat saepe nobis, quod inventore quo est necessitatibus minus ex amet. Aliquid voluptatum culpa repellendus debitis similique.</p>
                    </div>
                </div>
                <div class="wheel-placeholder-card wheel-box">
                    <img src="//fpoimg.com/555x333?text=Uberfllp%20placeholder" alt="lorem ipsum">
                    <div class="wheel-padding">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus molestias perferendis nisi beatae quos itaque architecto nostrum cupiditate nobis tenetur nam modi, tempore doloribus sequi veniam error dolorem enim.</p>
                    </div>
                </div>
            </div>
        {{/@media-figure}}
    {{/@media-object}}

{{/@full-width-wrapper}}
