{{#>@full-width-wrapper
  color="white"
  wrapperClass="wrapper--small"
}}
  {{#>@media-object variant="2-1-rev"}}
    {{#>@media-body classname="rhythm--large"}}
      <h2 class="heading heading--h2">
        Not sure which products are right for your business?
      </h2>
      <p>
        Take our quiz and we’ll share customized recommendations about the solutions that will best meet your needs.
      </p>
      <p>
        {{#>@button variant="primary" icon="true" href="#"}}
          Take the quiz
        {{/@button}}
      </p>
    {{/@media-body}}

    {{#>@media-figure}}
      <img src="//fpoimg.com/700x500" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}
{{/@full-width-wrapper}}
