{{#>@full-width-wrapper
  color="white"
  rhythm="large"
  id="section--intro"
}}
    {{#>@media-object variant="split" align="top"}}
      {{#>@media-body classname="rhythm--large"}}
        <h2 class="heading heading--h2">
        Protect your drivers and your business with video evidence
        </h2>
        <p>The Lytx Video Platform uses cloud-connected cameras to provide reliable, continual recording. You can easily find the exact video clips you need by searching based on  time, date, or location. Seeing what really happened can save you time and money, help protect your drivers, improve safety practices, and even provide you some much-needed peace of mind. Quickly finding the right video helps you save time and provides a faster way to the truth when something goes wrong.</p>

        <p>
          {{#>@button variant="primary"}}Book a Demo{{/@button}}
        </p>
      {{/@media-body}}

      {{#>@media-figure classname="animate"}}
        <img srcset="//picsum.photos/600/360, /images/1_drivers_business.jpg 2x" src="/images/1_drivers_business.jpg" alt="lorem ipsum">
      {{/@media-figure}}
    {{/@media-object}}
{{/@full-width-wrapper}}
