{{#>@full-width-wrapper color="white" rhythm="large" className="speak-and-submit"}}
    <div class="rhythm--extra-large">
      <div class="rhythm--large">
        {{#>@heading variant="h2" className="has-border-bottom"}}
            Call us and speak to a support speacialist.
        {{/@heading}}

        <div class="layout--2col layout--2col-fs">
          <div class="rhythm--large">
              <div class="rhythm--small">
                {{#>@heading variant="h4"}}
                  Commercial Fleet Customers
                {{/@heading}}
                <a href="tel:+18669100403">
                  +1.866.910.0403
                </a>
              </div>

              <div class="rhythm--small">
                {{#>@heading variant="h4"}}
                  RAIR Compliance Customers
                {{/@heading}}
                <a href="tel:+18884447010">
                  +1.888.444.7010
                </a>
              </div>
          </div>

          <div class="rhythm">
            {{#>@heading variant="h4"}}
              International Customers
            {{/@heading}}

            <div class="layout--2up">
              <div class="rhythm--large">
                <div class="rhythm--small">
                  {{#>@heading variant="h5"}}
                    United Kingdom
                  {{/@heading}}
                  <a href="tel:+4401908440140">
                    +44 (0) 1908.440.140
                  </a>
                </div>

                <div class="rhythm--small">
                  {{#>@heading variant="h5"}}
                    France
                  {{/@heading}}
                  <a href="tel:+1800918645">
                    +1.800.918.645
                  </a>
                </div>
              </div>

              <div class="rhythm--large">
                <div class="rhythm--small">
                  {{#>@heading variant="h5"}}
                    Ireland
                  {{/@heading}}
                  <a href="tel:+1800657219">
                    +1.800.657.219
                  </a>
                </div>

                <div class="rhythm--small">
                  {{#>@heading variant="h5"}}
                    South Africa
                  {{/@heading}}
                  <a href="tel:+27119645600">
                    +27 11.964.5600
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layout--major-minor has-border-top speak-and-submit__secondary">
        <div class="rhythm--small">
          {{#>@heading variant="h2"}}
              Submit a support ticket
          {{/@heading}}

          <p>
            Login to the Lytx Support Center to create a support ticket and track its progress.
          </p>
        </div>

        <div class="speak-and-submit__secondary-cta">
          {{#>@button variant="primary" icon="true" href="#"}}
            Login
          {{/@button}}
        </div>

      </div>
    </div>
{{/@full-width-wrapper}}
