<div class="full-width-image" style="background-image: url(/images/page-head--minor.jpg);">
  <div class="full-width-image__wrapper rhythm">
    {{#>@heading variant="h2" className="full-width-image__heading"}}Investing in safety can lead to significant savings{{/@heading}}
    <p class="full-width-image__context">Learn more about our pricing and how an investment today can result in years of savings.</p>

    <div class="full-width-image__ctas">
      {{#>@button variant="primary" href="#" className="button--icon"}}Calculate your savings {{>@icon-calculator}}{{/@button}}
      {{#>@button variant="primary" icon="true" href="#"}}Request a quote{{/@button}}
    </div>
  </div><!--/ wrapper -->
</div>
