<div class="full-width-image" style="background-image: url(/images/join-our-team.jpg);">
  <div class="full-width-image__wrapper rhythm">
    {{#>@heading variant="h2" className="full-width-image__heading"}}
      Join our growing team
    {{/@heading}}
    <p class="full-width-image__context">
      We have a number of exciting career opportunities available at locations across the globe. Work with us as we apply cutting-edge technology to save lives, improve safety, and transform business culture, every day.
    </p>

    <div class="full-width-image__ctas">
      {{#>@button variant="primary" icon="true" href="#"}}
        Join our team
      {{/@button}}
    </div>
  </div><!--/ wrapper -->
</div>
