{{#>@accordion
  id="accordion-1-control"
  title="What does Lytx DriveCam do?"
}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>
{{/@accordion}}
