{{#>@full-width-wrapper color="white" rhythm="small"}}
  {{#>@heading variant="h2" className="text--align-center has-border-bottom"}}
    Frequently asked questions
  {{/@heading}}

  <div class="accordion__group">
    <div class="wrapper--extra-small">
      {{#>@accordion
        id="accordion-1-control"
        title="What does Lytx DriveCam do?"
      }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>
      {{/@accordion}}

      {{#>@accordion
        id="accordion-2-control"
        title="How does fleet tracking work?"
      }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, sed officiis exercitationem animi dolores nihil totam a doloribus, quia at velit sint aut nemo! In saepe quos ipsam distinctio ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, quo veritatis exercitationem explicabo eius, placeat at reiciendis accusamus consequuntur quaerat aliquam! Quod explicabo doloribus, dicta neque earum culpa! Itaque, aliquid!</p>
      {{/@accordion}}

      {{#>@accordion
        id="accordion-3-control"
        title="How do I know what product is right for me?"
      }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>
      {{/@accordion}}

      {{#>@accordion
        id="accordion-4-control"
        title="What is telematic data?"
      }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>
      {{/@accordion}}

      {{#>@accordion
        id="accordion-5-control"
        title="What do the DriveCam lights mean?"
      }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nemo ea. Illo ex suscipit, ut similique eligendi illum a et iste dolorum dicta eum, praesentium voluptatum neque modi minus ipsum.</p>
      {{/@accordion}}
    </div>
  </div>
{{/@full-width-wrapper}}
