{{#>@full-width-wrapper color="white" wrapperClass="wrapper--squeezed"}}
  <div class="section-heading rhythm text--align-center">
    {{#>@heading variant=(default variant "h3")}}
      {{default text "We love our customers"}}
    {{/@heading}}

    {{#if subheading}}
      <p>
        {{default subheading "Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae omnis perspiciatis harum pariatur commodi distinctio!"}}
      </p>
    {{/if}}
  </div>
{{/@full-width-wrapper}}