{{>@global-header}}

{{>@page-head}}

{{#>@full-width-wrapper color="white" rhythm="default" wrapperClass="wrapper--small"}}
  <div class="rich-text rhythm">
    <h2>Privacy Policy</h2>

    <p>This Privacy Policy is effective as of June 19, 2018.</p>

    <p>This Privacy Policy relates to Lytx, Inc., together with its affiliates (collectively, “Lytx”, “we”, “us” and/or “our”), and describes our policies and practices with respect to your personally identifiable information (“Personal Information”) and other data that you may give us or that we may collect about you when using our website(s) which contain a link to this policy (collectively “Sites”).</p>

    <p>By visiting the Sites and/or submitting any information via a webform with a link to this policy, you expressly consent to our collection, use and disclosure of your information in the manner described in this Privacy Policy. If you do not agree to these terms, please do not access or use this website.</p>

    <p><strong>International transfer of information collected</strong></p>

    <p>Our servers, and service providers, are located in the United States. Accordingly, if you reside outside of the United States, by visiting our website, you agree that your information will be transferred to the United States, and processed and stored in the United States. You also acknowledge and agree that your information may be transferred to facilities of those third parties with whom we share data as described herein.</p>

    <p>Individuals Located in the European Union: Your Personal Information may be processed outside the EEA, and in countries which are not subject to an adequacy decision by the European Commission and which may not provide for the same level of data protection in the EEA. In this event, we will ensure that such recipient offers an adequate level of protection, for instance by entering into standard contractual clauses for the transfer of data as approved by the European Commission (Art. 46 GDPR), or we will ask you for your prior consent to such international data transfers.&nbsp; By submitting any of your Personal Information to the website(s), you consent and agree to the transfer of your Personal Information to Lytx and its affiliates, as well as Lytx’s service providers which include without limitation, SalesForce.com,&nbsp;Marketo, SendGrid, SnapApp and AtEvent.</p>

    <p><strong>A Special Note for Parents Concerning Privacy</strong></p>

    <p>The Lytx websites are not intended for use by children. We do not knowingly accept Personal Information from any person under the age of 18. We ask that children (under the age of 18) do not submit any Personal Information to us.</p>

    <p><strong>Information We Collect</strong></p>

    <p>The Personal Information that Lytx may collect from you may include the following:</p>

    <ul>
      <li>if you express an interest in obtaining additional information about our services, request customer support, use our "Contact Us" or similar features, register to use our websites, sign up for an event or webinar, or download certain content, we generally require you to provide us with your contact information, such as your name, job title, company name, address, phone number, or email address;</li>
      <li>if you make purchases via our websites or register for an event, we may also require you to provide us (or our service providers who provide payment processing services) with financial information and billing information, such as billing name and address, credit card number, or bank account information;</li>
      <li>if you attend an event, we may, upon your consent, scan your attendee badge which will provide us with your name, title and company name, address, country, phone number and email address;</li>
      <li>if you participate in a survey, which may be conducted by a third party, we may collect information you submit related to your use of our products and services;</li>
      <li>if you use and interact with our websites, we automatically collect log files and other information about your device and your usage of our websites through cookies, web beacons or similar technologies, such as IP-addresses or other identifiers, which may qualify as Personal Information;</li>
    </ul>

    <p><strong>Log Files, Cookies and Web Beacons</strong></p>

    <p>Our servers gather certain information automatically via log files. This collected information may include your IP Address, device and application identification numbers, your location, your browser type, your Internet service provider and/or mobile carrier, the pages and files you viewed, your searches, your operating system and system configuration information, and date/time stamps associated with your usage. This information is used to analyze overall trends, to help us provide and improve our websites and to guarantee their security and continued proper functioning.</p>

    <p>Lytx also utilizes cookies in order to gather the information described above and for its server to recognize a return visitor as a unique user. Cookies are small text files placed in the “Cookies” folder (or a similar folder) on a visitor’s hard disk and allow Lytx to remember the visitor. Most web-browsers offer the option to refuse any cookie, but they also usually accept cookies by default. You can change this default in most browsers and cause the browser to stop accepting cookies or to prompt you before accepting a cookie from a website.</p>

    <p>We also use web beacons on our websites. For example, we may place web beacons in marketing emails that notify us when you click on a link in the email that directs you to one of our websites. Such tracking technologies are used to operate and improve our websites and email communications and track the clicking of links or opening of emails.</p>

    <p>While some internet browsers offer a “do not track” or “DNT” option that lets you tell websites that you do not want to have your online activities tracked, these features are not yet uniform and there is no common standard that has been adopted by industry groups, technology companies or regulators. Therefore, we do not currently commit to responding to browsers' DNT signals with respect to our websites.</p>

    <p>Lytx or third parties may place or recognize a unique cookie on your browser when you visit our websites for the purposes of serving you targeted advertising (also referred to as “online behavioral advertising” or “interest-based advertising”). To learn more about targeted advertising, advertising networks and your ability to opt out of collection by certain third parties, please visit the opt-out pages of the Network Advertising Initiative, <a href="https://www.networkadvertising.org/choices/" target="_blank">here</a>, and the Digital Advertising Alliance, <a href="https://www.aboutads.info/choices/" target="_blank">here</a>.</p>

    <p>We collect, process your Personal Information for the purposes and on the legal bases identified in the following:</p>

    <ul>
      <li>Operating our websites: We will process your Personal Information to the extent necessary for the performance of our contract with you for the use of our websites and to fulfill our obligations under the applicable terms of use/service; where we have not entered into a contract with you, we base the processing of your Personal Information on our legitimate interest to operate and administer our websites and to provide you with content you access and request (e.g., download of certain content from our websites);</li>
      <li>Promoting security of our websites: We will process your Personal Information by tracking use of our websites, creating aggregated, non-personal data, verifying accounts and activity, investigating suspicious activity, as well as violations of and enforcement of our terms and policies, to the extent this is necessary for the purpose of our legitimate interests in promoting the safety and security of the systems and application used for our websites, and protecting our rights and the rights of others;</li>
      <li>Handling contact and user support requests: If you fill out a “Contact Us” web form, request user support, or if you contact us by other means, we will process your Personal Information for the performance of our contract with you and to the extent it is necessary for the purpose of our legitimate interests to fulfill your request and communicate with you;</li>
      <li>Managing event registrations and attendance: We will process your Personal Information to plan and host the event, conference or webinar, including related communication with you;</li>
      <li>Managing payments: If you have provided financial information, Lytx, or its service provider, will process your respective Personal Information to check the financial qualifications and collect payments to the extent this is necessary for completing transaction with you under the purchase order submitted by you;</li>
      <li>Developing and improving our websites: We will process your Personal Information to analyze trends, track your usage of our websites and interactions with emails to the extent this is necessary for our legitimate interests to develop and improve our websites and to provide our users with more relevant and interesting content;&nbsp;</li>
      <li>Displaying personalized advertisements and content: We will process your Personal Information to conduct marketing research, advertise to you, provide personalized information about us on and off our websites, and other personalized content based upon your activities and interests to the extent it is necessary for our legitimate interests to advertise our websites or, where necessary, to the extent you have provided your prior separate consent;</li>
      <li>Sending marketing communications: We will process your Personal Information to send you marketing information, product recommendations and other non-transactional communications (e.g., marketing newsletters, SMS, or push notifications) about us and our affiliates and partners, including information about our products, promotions or events as necessary for our legitimate interests to conduct direct marketing or to the extent you have provided your prior separate consent; &nbsp;</li>
      <li>Complying with legal obligations: We will process your Personal Information when cooperating with public and government authorities, courts or regulators in accordance with our legal obligations under applicable laws to the extent this requires the processing or disclosure of Personal Information to protect our rights, and is necessary for our legitimate interests to protect against misuse or abuse of our websites, to protect personal property or safety, to pursue remedies available to us and limit our damages, to comply with a judicial proceedings, court order or legal process, and/or to respond to lawful requests.</li>
    </ul>

    <p>We may share your Personal Information with the following recipients:</p>

    <ul>
      <li>Our contracted service providers which provide services such as IT and system administration and hosting, credit card processing, research and analytics, marketing, customer support and data enrichment;</li>
      <li>If you use our websites to register for an event or webinar, we may share your Personal Information with the entity responsible for organizing and/or managing the event to the extent this is required on the basis of the contract with you to process your registration and ensure your participation in the event;</li>
      <li>With third–party social networks, advertising networks and websites, which usually act as separate controllers, so that we can market and advertise on third party platforms and websites;</li>
      <li>In individual cases we may also share Personal Information with professional advisers acting as processors or joint controllers including lawyers, bankers, auditors and insurers based in countries in which we operate who provide consultancy, banking, legal, insurance and accounting services;</li>
      <li>We may also share your Personal Information with other affiliates to the extent this is necessary to fulfill a request you have submitted via our websites, or for customer support, marketing, technical operations and account management purposes;</li>
      <li>If we are involved in a merger or reorganization, sell a website or business unit, or if all or a portion of our business, assets or stock are acquired by another company, we may transfer some or all of your Personal Information to such third party.</li>
      <li>Any Personal Information or other information you choose to submit to public online forums (e.g. forums, blogs, or chat rooms) on our websites may be read, collected, and/or used by others who visit these forums.</li>
    </ul>

    <p>Lytx will never sell or trade any Personal Information accumulated through one of its websites about website visitors in any manner inconsistent with this Privacy Policy without such visitor’s consent. However, Lytx, its partners, agents, officers and employees may provide specific information collected about you, including Personal Information, to third-parties if required to do so by law or in the good faith belief that such action is required to: (i) protect Lytx against legal liability; (ii) protect and defend the rights or property of Lytx, including without limitation, exchanging information with other companies and organizations for fraud protection or investigation; (iii) comply with a legal obligation; or (iv) act in urgent circumstances to protect the personal safety of visitors or the public.</p>

    <p>Data collected from or about you may be used in an aggregate form, that is, as a statistical measure, and not in a form that would reasonably allow anyone to identify you. Along with using this data in aggregate form ourselves, we may share these statistics with certain strategic relations.</p>

    <p>You may have certain rights regarding your Personal Information, subject to your local data protection laws. These may include the following rights:</p>

    <ul>
      <li>to access your Personal Information held by us (right to access);</li>
      <li>to rectify inaccurate Personal Information and ensure it is complete (right to rectification);</li>
      <li>to erase/delete your Personal Information to the extent permitted by other legal obligations (right to erasure; right to be forgotten);</li>
      <li>to restrict our processing of your Personal Information (right to restriction of processing);</li>
      <li>to transfer your Personal Information to another controller to the extent possible (right to data portability);</li>
      <li>to object to any processing of your Personal Information carried out on the basis of our legitimate interests (right to object). Where we process your Personal Information for direct marketing purposes or share it with third parties for their own direct marketing purposes, you can exercise your right to object at any time to such processing without having to provide any specific reason for such objection;</li>
      <li>not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects ("Automated Decision-Making"); Automated Decision-Making currently does not take place on our websites;</li>
      <li>to the extent we base the collection, processing and sharing of your Personal Information on your consent, to withdraw your consent at any time, without affecting the lawfulness of the processing based on such consent before its withdrawal.</li>
    </ul>

    <p>To exercise your rights, please contact us in accordance with the “Contact” section below. We try to respond to all legitimate requests within one month and will contact you if we need additional information from you in order to honor your request. Occasionally it may take us longer than a month, taking into account the complexity and number of requests we receive. If you are an employee of a Lytx customer, we recommend you contact your company’s system administrator for assistance in correcting or updating your information.</p>

    <p>Lytx may also process Personal Information in the role of a processor on behalf of Lytx clients’ use of Lytx services. If your data has been submitted to us in connection with Lytx’s provision of services to a client, and you wish to exercise any rights you may have under applicable data protection laws, please inquire with the specific client directly. Because we may only access our client’s data upon instruction from the respective client, if you wish to make your request directly to us, please provide the name of the Lytx client who submitted your data when you contact us. We will refer your request to that client, and will support them as needed in responding to your request within a reasonable timeframe.</p>

    <p><strong>Preferences for Marketing Communications</strong></p>

    <p>If we process your Personal Information for the purpose of sending you marketing communications, you may manage your receipt of marketing and non-transactional communications from us by clicking on the “unsubscribe” link located on the bottom of our marketing emails, by replying or texting ‘STOP’ if you receive SMS communications, or by turning off push notifications on our apps on your device. Additionally, you may unsubscribe <a href="https://info.lytx.com/Subscription-Management.html" target="_blank">here</a>&nbsp;or by contacting us using the information in the “Contact" section below. Please note that opting-out of marketing communications does not opt you out of receiving important business communications related to your current relationship with us, such as information about your subscriptions or event registrations, service announcements or security information.</p>

    <p><strong>Security</strong></p>

    <p>Lytx employs appropriate administrative, physical and electronic measures that are intended to protect the information gathered about you from unauthorized access. However, all Internet and electronic transmissions are subject to breach and none are fully secure or error free. Lytx cannot guarantee or warrant the security of your Personal Information. Lytx will make any legally-required disclosures of any breach of the confidentiality or integrity of any unencrypted electronically stored Personal Information gathered about you via electronic mail or conspicuous posting on this website.</p>

    <p><strong>Limitation of Liability</strong></p>

    <p>By providing us with any Personal Information you expressly and unconditionally release and hold harmless Lytx, Inc., and its subsidiaries, affiliates, directors, officers, employees and agents from any and all liability for any injuries, loss or damage of any kind arising from or in connection with the use and/or misuse of your collected Personal Information. In addition, while Lytx takes efforts to ensure the proper and appropriate use of data provided by Lytx to third party companies, promotional partners or vendors, Lytx is not liable for any injuries, loss or damage of any kind arising from or in connection with the use and/or misuse of your collected Personal Information by Lytx or the above-mentioned non-Lytx entities.&nbsp; The foregoing shall not apply where such limitation of liability is prohibited by law.</p>

    <p><strong>Reservation of Rights</strong></p>

    <p>Lytx reserves the right to change this Privacy Policy at any time, for any reason, without prior notice. Your continued use of the website after any changes have taken effect will indicate that you have agreed to the terms of the revised Privacy Policy. We recommend that you check this Privacy Policy regularly for changes and updates.</p>

    <p><strong>External Links</strong></p>

    <p>This Privacy Policy applies only to your use of a Lytx website (or any affiliate sub-domains thereof ). This website contains links to other websites. These other websites are governed by their own privacy statements and policies, and Lytx is not responsible for their operations, including but not limited to their information practices. Lytx is not responsible for their practices. Links to other websites do not imply our endorsement of the materials or policies on those websites. You should read the privacy policies of each website you visit to determine what information that website may be collecting about you.</p>

    <p><strong>Other Legal Information and Terms and Conditions</strong></p>

    <p>Your access and use of this website (or any affiliate sub-domains thereof ) is further subject to the terms and conditions at <a href="https://www.lytx.com/en-us/legal-information" target="_self">https://www.lytx.com/en-us/legal-information</a>.&nbsp;</p>

    <p><strong>Changes in Corporate Structure</strong></p>

    <p>Notwithstanding any of the foregoing, Lytx may sell, share or otherwise transfer some or all of its assets, including information gathered by one of its websites, in connection with a bankruptcy, merger, acquisition, reorganization or sale of substantially all of its assets or substantially all of the assets of a division or other unit of Lytx. You acknowledge that such transfers may occur and that any acquirer may continue to use your Personal Information as set forth in this Privacy Policy.</p>

    <p><strong>Contact</strong></p>

    <p>If you have any questions about this Privacy Policy or the practices of this website, please contact the Lytx Privacy Department directly by e-mail at privacy@lytx.com. If you prefer to contact us by mail, please send any communications to:</p>

    <p>Lytx, Inc.<br>
    9785 Towne Centre Drive<br>
    San Diego, California 92121<br>
    Attn: Chief Privacy Officer</p>
  </div>
{{/@full-width-wrapper}}

{{>@global-footer}}
