<div class="wrapper">
  <div class="layout layout--case-study">
    <div class="layout--case-study__major">
      <!-- `/rich-text` assumes free flowing RTE content by author and no class names are to be associated with elements -->
      <div class="rich-text rhythm rhythm--large case-study-detail">
        <h3>SAN DIEGO — March 13, 2019 — </h3>

        <p>Lytx&reg;, a leading global provider of video telematics, analytics, productivity and safety solutions for commercial and public sector fleets, announced today that Lauren Concrete will roll out the Lytx Driver Safety Program to its entire fleet. Lauren Concrete is a ready-mix concrete provider serving central, east and west Texas through 245 concrete mixing vehicles, 18-wheel hauling trucks and pick-up trucks.</p>
        <p>“Lytx brought an innovative, industry-leading vision to the table that was compelling,” said Kurt Holman, Lauren’s vice president of safety and environmental affairs. “With Lytx behind us, we‘re backed by an industry leader that can help us harness the power of video to improve driver behavior and create a better future, not only for our drivers, but also for our brand and bottom line.”</p>
        <p>Safety lies at the heart of Lauren Concrete’s mission. In 2018 alone, the company earned 13 Safety and Health Achievement Recognition Program (SHARP) Awards from the Occupational Safety and Health Administration (OSHA).</p>
        <p>“Lauren Concrete prides itself on running a world-class operation,” Holman said. “We treat employees like family, and continuous improvement drives everything we do. When we saw an opportunity to improve our incident rates, we engaged with Lytx and another video telematics provider, and we were overwhelmingly impressed by the breadth and depth of Lytx data capabilities.”</p>
        <p>In choosing the Lytx Driver Safety Program, Lauren Concrete appreciated the flexibility of the Lytx coaching workflow. With an emphasis on changing driver behavior through positive, constructive feedback, Lauren’s leadership felt confident that Lytx would be able to support the company’s unique needs and offer viable options for handling revealing data insights and safety challenges.</p>

        <blockquote>
          “Ultimately, working with Lytx will help us enhance driving talents in our fleet, drive down incident rates and claims costs and fully understand and solve the challenges that our drivers face on the road,” Holman said.
        </blockquote>

        <h3>Celebrating Safety Through Community Town Halls</h3>

        <p>A family-oriented company, Lauren Concrete understood that it would need to clearly communicate to workers its goals for a driver safety program from the outset. Holman and Lauren Concrete Chief Executive Officer Ryan Bartholemew organized town hall-style meetings with each division of the company, establishing an open dialogue with drivers around the decision.</p>
        <p>“In choosing to partner with Lytx, we were impressed by the company’s versatility and prominence in the video telematics space,” Bartholemew said. “We understood the potential of our operators to be wary of in-cab technology. We wanted to get ahead of it by opening a conversation with the whole team and reinforcing our commitment to safety. Our main priority is that each of our drivers climbs into his or her truck knowing that they’re receiving the most comprehensive safety support from the Lauren team and, most importantly, that they get home safely each night. Now we have a valuable tool that can help us achieve that efficiently and effectively.”</p>
        <p>The town hall meetings offered a platform for Lauren’s drivers to ask questions anonymously. What followed was a frank conversation addressing their concerns and clarifying the wide range of benefits that could result from the rollout of the Lytx Driver Safety Program. With the power of video telematics supporting its fleet, Lauren Concrete is better equipped to protect drivers from potentially litigious scenarios and coach them toward exceptional safety achievements.</p>

        <h3>About Lytx</h3>

        <p>Lytx&reg;® is a leading provider of <a href="#">video telematics</a>, analytics, safety and productivity solutions for commercial and public sector fleets. Our unrivaled Driver Safety Program, powered by our best-in-class DriveCam® Event Recorder, is proven to help save lives and reduce risk. We harness the power of video to help clients see what happened in the past, manage their operations more efficiently in the present, and improve driver behavior to change the future. Our customizable services and programs span driver safety, risk detection, fleet tracking, compliance and fuel management. Using the world’s largest driving database of its kind, along with proprietary machine vision and artificial intelligence technology, we help protect and connect thousands of fleets and more than one million drivers worldwide. For more information, visit <a href-"#">www.lytx.com</a>, <a href="#">@lytx on Twitter</a>, <a href="#">LinkedIn</a>, our <a href="#">Facebook page</a> or our <a href="#">YouTube channel</a>.</p>

        <h3>About Lauren Concrete</h3>

        <p>Lauren Concrete is a family-owned-and-operated ready-mix concrete supplier based in Austin, Texas. With a focus on family, integrity, teamwork and safety, Lauren Concrete has made employee training and education a priority. Since launching in 1986, the company has become the leading supplier of ready-mix concrete in the Austin region. With 23 batch plants throughout Texas, the company is on a mission to deliver a world-class experience to its customers, employees and the communities it serves.</p>


      </div><!--/ rich-text -->
      {{>@social-footer}}
    </div><!--/ __major -->

    <div class="layout--case-study__first case-study-detail-right-rail">
      <div class="rich-text rhythm rhythm--large case-study-detail">
        <img src="//fpoimg.com/587x289">
        <p><em>Family-owned, ready-mix concrete fleet skips trial to deploy Lytx industry-leading solutions throughout its 245-vehicle fleet</em></p>
      </div><!--/ rich-text -->
    </div><!--/ first -->

  </div><!--/ layout__case-study -->
</div><!--/ wrapper -->
