<blockquote class="testimonial rhythm">
  <figure class="rhythm">
    {{#unless noImg}}
      <img class="testimonial__image" src="/images/testimonial_logo.jpg">
    {{/unless}}
    <figcaption>
      <p>
        {{default quote "“If there was one technology I could have had throughout my 32 years in the transportation business, [Lytx] would be it. It’s another set of eyes. It’s proof. It protects the driver. And it protects the company.”"}}
      </p>

      <cite class="testimonial__cite">
        {{default cite "Jerry Welsch, A.D. Transport Express’ Safety Manager"}}
      </cite>
    </figcaption>
  </figure>
</blockquote>
