<figure class="blockquote blockquote--pullout rhythm--large">
  <div class="blockquote__quote">
    <p>{{default quote "My suggestion to someone looking to purchase? I can sum it up in one word: Priceless."}}</p>
  </div>
  <figcaption class="blockquote__citation">
    <h4 class="heading heading--h4 blockquote__name">{{default speaker "DENNIS DELLINGER"}}</h4>
    <p class="text--small blockquote__title">{{default title "President, Cargo Transporters"}}</p>
  </figcaption>
</figure>
