<div class="event-form bg--gray-4">
  {{#>@heading variant="h3"}}Schedule a Demo at the 2019 NAFA Institute &amp; Expo{{/@heading}}
  <fieldset class="form-wrapper">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname">
    <label for="workemail">Work Email</label>
    <input type="text" id="workemail" name="workemail">
    <label for="company">Company</label>
    <input type="text" id="company" name="company" placeholder="To select begin typing...">
    <label for="fleetsize">Fleet Size</label>
    <input type="text" id="fleetsize" name="fleetsize">
  </fieldset>
  <fieldset>
    {{#>@button variant="primary"}}Schedule a demo{{/@button}}
  </fieldset>
</div>
