{{#>@full-width-wrapper
  color="gray-4"
  className="additional-resources"
  rhythm="large"
  id="additional-resources"
}}

  {{#>@media-object variant="2-1" align="top" flipLarge="true" flipSmall="true"}}
    {{#>@media-figure classname="text--align-left"}}
      <div class="layout--2col">
        <div class="rhythm--large">
          <div class="rhythm">
            {{#>@heading variant="h3"}}
              Return a device
            {{/@heading}}
            <p>
              Read our instructions for returning your in-warranty Lytx device.
            </p>
            {{#>@list variant="blank" className="rhythm"}}
              <li>{{>@icon-link linkText="Return instructions"}}</li>
            {{/@list}}
          </div>

          <div class="rhythm">
            {{#>@heading variant="h3"}}
              Lytx event players
            {{/@heading}}
            <p>
              Download our standalone software programs so you can view video clips outside of your online portal.
            </p>
            {{#>@list variant="blank" className="rhythm"}}
              <li>{{>@icon-link linkText="Download the SF Series and SV2 Player"}}</li>
              <li>{{>@icon-link linkText="Download the DC3/DC3P Player"}}</li>
            {{/@list}}
          </div>
        </div>

        <div class="rhythm--large">
          <div class="rhythm">
            {{#>@heading variant="h3"}}
              Out of warranty repairs
            {{/@heading}}
            <p>
              Repair services are available through our authorized third-party repair centers even after your DriveCam event recorder is out of warranty.
            </p>
            <div class="rhythm">
              {{#>@heading variant="h4"}}
                DCII Event Recorder
              {{/@heading}}
              {{#>@list variant="blank" className="rhythm"}}
                <li>{{>@icon-link linkText="PSSI Repair Form"}}</li>
              {{/@list}}
            </div>

            <div class="rhythm">
              {{#>@heading variant="h4"}}
                DC3/P DriveCam Event Recorder
              {{/@heading}}
              {{#>@list variant="blank" className="rhythm"}}
                <li>{{>@icon-link linkText="Selectron Repair Form"}}</li>
                <li>{{>@icon-link linkText="FoxConn Replacement Form"}}</li>
              {{/@list}}
            </div>
          </div>
        </div>
      </div>
    {{/@media-figure}}

     {{#>@media-body classname="rhythm--small"}}
        {{#>@heading variant="h4"}}
          Additional Resources
        {{/@heading}}
        {{#>@heading variant="h2"}}
          Get details about returns, repairs, and software downloads.
        {{/@heading}}
    {{/@media-body}}
  {{/@media-object}}
{{/@full-width-wrapper}}
