<a href="#" class="link--icon">
  {{> (whichpartial (default icon "icon-pdf")) className="link--icon__icon"}}

  <span class="link--icon__link-text">
    {{default linkText "Link text"}}
  </span>
</a>
