{{#>@full-width-wrapper
  color="white"
}}
  {{#>@media-object variant="2-1--rev"}}
    {{#>@media-body classname="rhythm--large"}}
      <h2 class="heading heading--h2">
        Improve safety and protect your bottom line
      </h2>
      <p>
        Video evidence can provide you with indisputable truth, which could help you exonerate your drivers and maintain profits by saving money on insurance claims. Our cloud-connected cameras provide reliable, continual recording, giving you 100 hours of video evidence anywhere you have an internet connection.
      </p>
    {{/@media-body}}

    {{#>@media-figure classname="animate"}}
      <img src="/images/4_improve_safety.jpg" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}
{{/@full-width-wrapper}}
