{{#>@full-width-wrapper
  color="white"
}}
  {{#>@media-object variant="2-1--rev"}}
    {{#>@media-body classname="rhythm--large"}}
      <h2 class="heading heading--h2">
        Two solutions for greater fleet safety
      </h2>
      <p>
        Prevent collisions before they happen with our proven systems that help pinpoint risk, change driver behavior, and reduce claims costs. Our <a href="#">Driver Safety Program</a> is the most powerful set of fleet safety tools available anywhere, offering a video-based coaching to build your drivers’ skills and change risky behavior. Our <a href="#">Risk Detection Service</a> allows you to track fleet risk so you can decide when coaching is needed.
      </p>
       <p>
        {{#>@button}}Book a Demo{{/@button}}
      </p>
    {{/@media-body}}

    {{#>@media-figure classname="animate"}}
      <img src="/images/5_two_solutions.jpg" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}
{{/@full-width-wrapper}}
