{{#>@full-width-wrapper color="white" wrapperClass="wrapper--small"}}
      {{#>@media-object variant="1-2" align="center" flipSmall="true" flushed="true"}}
        {{#>@media-body classname="rhythm"}}
          {{#>@heading variant="h2"}}
            1. Consider your fleet management goals and requirements
          {{/@heading}}
          <p>
            Coming into the process with clear goals and requirements will help us focus on solutions that best meet your unique needs.
          </p>

          <p>
            Review our vendor checklist to understand key features you should consider when looking for a video telematics provider.
          </p>

          <p>
            {{#>@icon-link linkText="Download the Vendor Checklist"}}{{/@icon-link}}
          </p>
        {{/@media-body}}

        {{#>@media-figure classname="text--align-right"}}
          <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
        {{/@media-figure}}
      {{/@media-object}}
{{/@full-width-wrapper}}

{{#>@full-width-wrapper color="white" wrapperClass="wrapper--small"}}
      {{#>@media-object variant="1-2" align="center" flipSmall="true" flushed="true"}}
        {{#>@media-body classname="rhythm--large"}}
          {{#>@heading variant="h2"}}
            2. Book a custom demo
          {{/@heading}}
          <p>
           Our team will create a solutions demo based on your biggest challenges, fleet and company size, and industry. We’ll show you how it works, answer your questions and plan for next steps.
          </p>

          <p>
            {{#>@button href="#" variant="primary"}}
              Book a demo
            {{/@button}}
          </p>
        {{/@media-body}}

        {{#>@media-figure classname="text--align-right"}}
          <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
        {{/@media-figure}}
      {{/@media-object}}
{{/@full-width-wrapper}}

{{#>@full-width-wrapper color="white" wrapperClass="wrapper--small"}}
      {{#>@media-object variant="1-2" align="center" flipSmall="true" flushed="true"}}
        {{#>@media-body classname="rhythm"}}
          {{#>@heading variant="h2"}}
            3. Receive a cost estimate
          {{/@heading}}
          <p>
           After your demo, we create and share a solutions proposal that includes custom pricing and  your financing options.
          </p>
        {{/@media-body}}

        {{#>@media-figure classname="text--align-right"}}
          <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
        {{/@media-figure}}
      {{/@media-object}}
{{/@full-width-wrapper}}

{{#>@full-width-wrapper color="white" wrapperClass="wrapper--small"}}
      {{#>@media-object variant="1-2" align="center" flipSmall="true" flushed="true"}}
        {{#>@media-body classname="rhythm"}}
          {{#>@heading variant="h2"}}
            4. Transform your fleet
          {{/@heading}}
          <p>
            Our experienced customer support team will help plan your rollout and ensure your success.
          </p>

          <p>
            Read through our Rollout Roadmap to become familiar with our proven best practices to ensure a smooth rollout of your Lytx solutions.
          </p>

          <p>
            {{#>@icon-link linkText="Download the Rollout Roadmap"}}{{/@icon-link}}
          </p>

        {{/@media-body}}

        {{#>@media-figure classname="text--align-right"}}
          <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
        {{/@media-figure}}
      {{/@media-object}}
{{/@full-width-wrapper}}