{{#>@full-width-wrapper color="white" flushTop="true" wrapperClass="wrapper--small"}}
  {{#>@media-object variant="1-2" align="center" flipSmall="true" flushed="true"}}
    {{#>@media-body classname="rhythm"}}
      {{#>@heading variant="h4"}}
        FEATURED CUSTOMER
      {{/@heading}}

      {{#>@heading variant="h2"}}
        Doug Hager American Central Transport (ACT)
      {{/@heading}}

      <p>
        Doug Hager is a shining star among drivers who hasn’t had to be coached on a single DriveCam event since he joined ACT more than two years ago. In fact, he is the only driver at his organization to go two consecutive years and 258,000 miles without a coachable event.
      </p>

      <p>
        “I view other drivers like they’re my own family, and that inspires me to drive more carefully.”
      </p>

      <p>
        {{#>@button href="#"}}
          Read more
        {{/@button}}
      </p>
    {{/@media-body}}

    {{#>@media-figure classname="text--align-right"}}
      <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">
    {{/@media-figure}}
  {{/@media-object}}
{{/@full-width-wrapper}}