<div class="home-page-hero" style="background-image: url(/images/homepage-hero-UK-1600x900.jpg);">
  <div class="home-page-hero__fader"></div>
  {{>@home-page-hero--svg-uk}}
  <div class="home-page-hero__mobile-img">
    <img src="/images/home-mobile-uk.jpg">
  </div>
  <div class="home-page-hero__heading">
    {{#>@heading variant="h1" className="heading--h1-lg"}}Your critical fleet management challenges solved.{{/@heading}}
  </div>
</div><!--/ home-page-hero -->
