<section class="layout--full-width bg--white">
  <div class="wrapper rhythm rhythm--large">
    <div class="rhythm text--align-center">
      {{#>@heading variant="h1" className="heading--h1-lg"}}Meet our team{{/@heading}}
      <p>Everything we do is made possible by the amazing people who make up our team. Here’s what they have to say. </p>
    </div>
    {{#>@tabs className="tabs--team-tabs"}}
      {{#>@tab
        id="tab-0-control"
        image="//fpoimg.com/160x160"
        title="May Elhattab"
        sub-title="Senior Client Solutions Conultant"
        checked=true
        tabName="teamTabs"
      }}
        {{#>@wrapper className="rhythm"}}

          {{#>@media-object variant="split"}}
            {{#>@media-figure}}
              {{>@wistia-embed }}
            {{/@media-figure}}

            {{#>@media-body}}
              {{>@blockquote--pullout}}
              <p class="text--small">May operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. She also trains clients on Lytx programs.</p>
            {{/@media-body}}
          {{/@media-object}}

        {{/@wrapper}}
      {{/@tab}}

      {{#>@tab
        id="tab-1-control"
        image="//fpoimg.com/160x160"
        title="Farbod Pourvash"
        sub-title="Software Engineer"
        tabName="teamTabs"
      }}
        {{#>@wrapper className="rhythm"}}

          {{#>@media-object variant="split"}}
            {{#>@media-figure}}
              {{>@wistia-embed }}
            {{/@media-figure}}

            {{#>@media-body}}
              {{>@blockquote--pullout}}
              <p class="text--small">Farbod operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>
            {{/@media-body}}
          {{/@media-object}}

        {{/@wrapper}}
      {{/@tab}}

      {{#>@tab
        id="tab-2-control"
        image="//fpoimg.com/160x160"
        title="Brandon Nixon"
        sub-title="Chairman & CEO"
        tabName="teamTabs"
      }}
        {{#>@wrapper className="rhythm"}}

          {{#>@media-object variant="split"}}
            {{#>@media-figure}}
              {{>@wistia-embed }}
            {{/@media-figure}}

            {{#>@media-body}}
              {{>@blockquote--pullout}}
              <p class="text--small">Brandon operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>
            {{/@media-body}}
          {{/@media-object}}

        {{/@wrapper}}
      {{/@tab}}

      {{#>@tab
        id="tab-3-control"
        image="//fpoimg.com/160x160"
        title="Jim Rice"
        sub-title="Commercial Leader"
        tabName="teamTabs"
      }}
        {{#>@wrapper className="rhythm"}}

          {{#>@media-object variant="split"}}
            {{#>@media-figure}}
              {{>@wistia-embed }}
            {{/@media-figure}}

            {{#>@media-body}}
              {{>@blockquote--pullout}}
              <p class="text--small">Jim operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>
            {{/@media-body}}
          {{/@media-object}}

        {{/@wrapper}}
      {{/@tab}}
    {{/@tabs}}
  </div><!--/ wrapper -->
</section>
