{{>@global-header}}
<div class="wrapper rhythm--extra-large">
  {{#>@heading variant="h2"}}
    2-1
  {{/@heading}}
  {{>@media-object--2-1}}

  {{#>@heading variant="h2"}}
    3-2
  {{/@heading}}
  {{>@media-object--3-2}}

  {{#>@heading variant="h2"}}
    align-bottom
  {{/@heading}}
  {{>@media-object--align-bottom}}

  {{#>@heading variant="h2"}}
    align-top
  {{/@heading}}
  {{>@media-object--align-top}}

  {{#>@heading variant="h2"}}
    flip-large
  {{/@heading}}
  {{>@media-object--flip-large}}

  {{#>@heading variant="h2"}}
    flip-small
  {{/@heading}}
  {{>@media-object--flip-small}}

  {{#>@heading variant="h2"}}
    reversed
  {{/@heading}}
  {{>@media-object--reversed}}

  {{#>@heading variant="h2"}}
    split
  {{/@heading}}
  {{>@media-object--split}}

  {{#>@heading variant="h2"}}
    additional resources
  {{/@heading}}
  {{>@additional-resources}}

  {{#>@heading variant="h2"}}
    camera locations
  {{/@heading}}
  {{>@camera-locations}}

  {{#>@heading variant="h2"}}
    feature--example
  {{/@heading}}
  {{>@feature--example}}

  {{#>@heading variant="h2"}}
    featured-case-studies
  {{/@heading}}
  {{>@featured-case-studies}}

  {{#>@heading variant="h2"}}
    featured-resource-with-image
  {{/@heading}}
  {{>@featured-resource-with-image}}

  {{#>@heading variant="h2"}}
    image-with-feature-icons
  {{/@heading}}
  {{>@image-with-feature-icons}}

  {{#>@heading variant="h2"}}
    image-with-feature-icons--list
  {{/@heading}}
  {{>@image-with-feature-icons--list}}

  {{#>@heading variant="h2"}}
    image-with-feature-icons--timeline
  {{/@heading}}
  {{>@image-with-feature-icons--timeline}}

  {{#>@heading variant="h2"}}
    jump-link--example-5up
  {{/@heading}}
  {{>@jump-link--example-5up}}

  {{#>@heading variant="h2"}}
    modal--directors
  {{/@heading}}
  {{>@modal--directors}}

  {{#>@heading variant="h2"}}
    modal--leadership
  {{/@heading}}
  {{>@modal--leadership}}

  {{#>@heading variant="h2"}}
    modal--leadership-no-image
  {{/@heading}}
  {{>@modal--leadership-no-image}}

  {{#>@heading variant="h2"}}
    photo-gallery
  {{/@heading}}
  {{>@photo-gallery}}

  {{#>@heading variant="h2"}}
    related-resource
  {{/@heading}}
  {{>@related-resource}}

  {{#>@heading variant="h2"}}
    software-with-icons
  {{/@heading}}
  {{>@software-with-icons}}

  {{#>@heading variant="h2"}}
    software-with-icons--4pack
  {{/@heading}}
  {{>@software-with-icons--4pack}}

  {{#>@heading variant="h2"}}
    software-with-icons--mission
  {{/@heading}}
  {{>@software-with-icons--mission}}

  {{#>@heading variant="h2"}}
    solution-intro
  {{/@heading}}
  {{>@solution-intro}}

  {{#>@heading variant="h2"}}
    solutions-featured-intro
  {{/@heading}}
  {{>@solutions-featured-intro}}

  {{#>@heading variant="h2"}}
    solutions-left-example
  {{/@heading}}
  {{>@solutions-left-example}}

  {{#>@heading variant="h2"}}
    solutions-right-example
  {{/@heading}}
  {{>@solutions-right-example}}

  {{#>@heading variant="h2"}}
    solutions-right-cta-example
  {{/@heading}}
  {{>@solutions-right-cta-example}}

  {{#>@heading variant="h2"}}
    solutions-quiz
  {{/@heading}}
  {{>@solutions-quiz}}

  {{#>@heading variant="h2"}}
    spec-sheet
  {{/@heading}}
  {{>@spec-sheet}}

  {{#>@heading variant="h2"}}
    tabs--team
  {{/@heading}}
  {{>@tabs--team}}

  {{#>@heading variant="h2"}}
    featured-layout--success
  {{/@heading}}
  {{>@featured-layout--success}}

  {{#>@heading variant="h2"}}
    our-team--media-objects
  {{/@heading}}
  {{>@our-team--media-objects}}

  {{#>@heading variant="h2"}}
    split-feature
  {{/@heading}}
  {{>@split-feature}}

  {{#>@heading variant="h2"}}
    get-started-body
  {{/@heading}}
  {{>@get-started-body}}

  {{#>@heading variant="h2"}}
    who-we-serve-featured-customer
  {{/@heading}}
  {{>@who-we-serve-featured-customer}}

  {{#>@heading variant="h2"}}
    news-feature-intro
  {{/@heading}}
  {{>@news-feature-intro}}

  {{#>@heading variant="h2"}}
    benefits-perks
  {{/@heading}}
  {{>@benefits-perks}}

</div>
{{>@global-footer}}
