<div class="global-footer">
  <div class="global-footer__cta rhythm rhythm--large">
    <div class="global-footer__cta-intro rhythm rhythm--large">
      <h2 class="heading heading--h2">Keep up with Lytx</h2>
      <p class="global-footer__cta-intro">Our Best Fleet Forward newsletter delivers monthly insights on fleet safety.</p>
    </div>
    <div class="global-footer__cta-form rhythm rhythm--large">
      <div action="#" method="post" class="form-wrapper global-footer__cta-form rhythm rhythm--large">
        <fieldset>
          <input type="text" class="transparent" id="fname" placeholder="First name">
          <label for="fname" class="a11y-visually-hidden">First name</label>
        </fieldset>
        <fieldset>
          <input type="text" class="transparent" id="lname" placeholder="Last name">
          <label for="lname" class="a11y-visually-hidden">Last name</label>
        </fieldset>
        <fieldset>
          <input type="email" class="transparent" id="email" placeholder="Email address">
          <label for="email" class="a11y-visually-hidden">Email address</label>
        </fieldset>
        <fieldset>
          {{#>@button variant="primary" href="#"}}Submit{{/@button}}
        </fieldset>
      </div>
    </div>
  </div><!--/ __cta -->

  <div class="global-footer__nav rhythm">
    <div class="global-footer__nav-heading">
      <h1 class="heading heading--h2">Get started today.</h1>
    </div>
    <div class="global-footer__nav-cta">
      <a href="#">1-866-419-5861</a>
      <a href="#">Contact Us</a>
      <a href="#">Book a Demo</a>
    </div>
    <div class="global-footer__nav-links">
      <div class="global-footer__nav_link-list rhythm--small">
        <h5 class="heading">Solutions</h5>
        <a href="#">Overview</a>
        <a href="#">In-Cab Demo</a>
        <a href="#">Driver Safety</a>
        <a href="#">Fleet Tracking</a>
        <a href="#">Compliance</a>
      </div>
      <div class="global-footer__nav_link-list rhythm--small">
        <h5 class="heading">About Us</h5>
        <a href="#">Our Story</a>
        <a href="#">Our Technology</a>
        <a href="#">Our Team</a>
        <a href="#">Careers</a>
        <a href="#">News and Events</a>
      </div>
      <div class="global-footer__nav_link-list rhythm--small">
        <h5 class="heading">Support</h5>
        <a href="#">Support</a>
        <a href="#">DriveCam Online</a>
        <a href="#">RAIR Compliance</a>
        <a href="#">Management Portal</a>
      </div>
      <div class="global-footer__nav_link-list rhythm--small">
        <h5 class="heading">Our Clients</h5>
        <a href="#">Who We Serve</a>
        <a href="#">Success Stories</a>
      </div>
      <div class="global-footer__nav_link-list rhythm rhythm--small">
        <h5 class="heading">Resources</h5>
        <a href="#">Webinars</a>
        <a href="#">Library</a>
        <a href="#">Blog</a>
        <a href="#">Tools</a>
        <a href="#">Videos</a>
      </div>
      <div class="global-footer__nav_link-list rhythm--small">
        <h5 class="heading">Sites</h5>
        <a href="#">English (U.S.A.)</a>
        <a href="#">English (U.K.)</a>
      </div>
    </div>
  </div><!--/ __nav -->

  <div class="global-footer__brand">
    <div>
      {{#>@lytx-logo-white}}{{/@lytx-logo-white}}
    </div>
    <div class="text--align-right">
      <p>* Subject to available cellular network coverage.</p>
      <p>&copy; Copyright Lytx, Inc, 2019. All rights reserved.</p>
    </div>
  </div><!--/ __brand -->

  <div class="global-footer__meta">
    <div class="global-footer__meta-links">
      <a href="#">Site Map</a>
      <a href="#">Driver Information</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
    <div class="global-footer__meta-social">
      <a href="#"><span class="a11y-visually-hidden">LinkedIn</span>{{>@linkedin}}</a>
      <a href="#"><span class="a11y-visually-hidden">Twitter</span>{{>@twitter}}</a>
      <a href="#"><span class="a11y-visually-hidden">Facebook</span>{{>@facebook}}</a>
      <a href="#"><span class="a11y-visually-hidden">Instagram</span>{{>@instagram}}</a>
      <a href="#"><span class="a11y-visually-hidden">YouTube</span>{{>@youtube}}</a>
    </div>
  </div><!--/ __meta -->


</div>
