{{#>@full-width-wrapper
  color="text"
  className="cs--filterable js-cs--filterable"
  rhythm="large"
  id="cs--filterable"
}}

  <div class="cs--filterable__head">
    <div class="primary rhythm">
      {{#>@heading variant="h3" className="color--white"}}
        We’ve built successful partnerships across multiple industries, with fleets from 10 to 500 + vehicles.
      {{/@heading}}

      <p class="color--white">Find out how we've helped companies just like yours.</p>
    </div>

    <div class="secondary">
      <div class="form-wrapper form--inline js-form--filters">
         <fieldset class="rhythm--small">
          <label for="filter--industry" class="color--white">Industry</label>
          <div class="input--select transparent">
            <select class="transparent bg--text" id="filter--industry" name="industry">
              <option value="All">All</option>
              <option value="Government">Government</option>
              <option value="Construction">Construction</option>
              <option value="Trucking">Trucking</option>
              <option value="Waste">Waste</option>
            </select>
          </div>
        </fieldset>
         <fieldset class="rhythm--small">
          <label for="filter--fleetsize" class="color--white">Fleet Size</label>
          <div class="input--select transparent">
            <select class="transparent bg--text" id="filter--fleetsize" name="fleetsize">
              <option value="All">All</option>
              <option value="10-49">10-49</option>
              <option value="50-499">50-499</option>
              <option value="500+">500+</option>
            </select>
          </div>
        </fieldset>
         <fieldset class="rhythm--small">
          <label for="filter--result" class="color--white">Result</label>
          <div class="input--select transparent">
            <select class="transparent bg--text" id="filter--result" name="result">
              <option value="All">All</option>
              <option value="Reduce Costs">Reduce Costs</option>
              <option value="Manage Fleet Risk">Manage Fleet Risk</option>
              <option value="Improved Driver Performance">Improved Driver Performance</option>
            </select>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="layout--4up layout--cs-list" data-initial-limit="8">
    {{#>@card--case-study
      industry="government"
      fleetSize="50-499"
      result="Improved Driver Performance"
      title="Rising to the Top: The Transformational Turnaround of Concho Valley Transit District"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="50-499"
      result="Improved Driver Performance"
      title="MedStar Mobile Healthcare dramatically reduces collisions and associated costs with the Lytx DriveCam safety program."
      subheading="Construction"
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction|trucking"
      fleetSize="50-499"
      result="Improved Driver Performance"
      title="Orange County, Florida, reduces collisions by 40% with Lytx."
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="trucking"
      fleetSize="10-49"
      result="Reduce Costs"
      title="NFI Industries reduces collision frequency by more than 50% with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Trucking"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="trucking"
      fleetSize="500+"
      result="Reduce Costs"
      title="A.D. Transport Express Inc. Cuts Claims Costs and Helps Protect and Retain Drivers with Lytx"
      subheading="Trucking"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="trucking"
      fleetSize="500+"
      result="Manage Fleet Risk|Reduce Costs"
      title="CalArk Reduces CSA Scores and Compliance Issues with Lytx RAIR Services"
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="trucking"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="waste"
      fleetSize="500+"
      result="Manage Fleet Risk"
      title="LES significantly reduces traffic violations, the severity of risky driving events, and more with the Lytx DriveCam safety program."
      subheading="waste"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}

    {{#>@card--case-study
      industry="construction"
      fleetSize="500+"
      result="Reduce Costs"
      title="U.S. Concrete dramatically cuts collision claims costs with Lytx."
      logo='/images/calark-logo.png'
      logo-2x='/images/calark-logo@2x.png'
      subheading="Construction"
    }}{{/@card--case-study}}
  </div>

  <div class="text--align-center">
    {{#>@button size="large" className="js-load-more"}}Load More{{/@button}}
  </div>
{{/@full-width-wrapper}}
