<div class="benefits-box">
  <div class="benefits-box__header benefits-box__header--blue">
    <div class="benefits-box__number">2</div> 
    <div class="benefits-box__heading">Safety Benefits</div>
  </div>

  <div class="benefits-box__body rich-text rhythm">
    <p>Organizations use telematics to measurably improve their safety metrics. Improving the safety profile of an organization can help reduce insurance premiums and claims costs, enhance the perceived reliability of its brand, and boost employee morale. In the realm of safety, fleets typically use telematics to:</p>
    <ul>	
      <li>Reduce rates of collision</li>
      <li>Increase use of seat belts</li>
      <li>Reduce distracted and drowsy driving</li>
      <li>Reduce aggressive driving behaviors, such as speeding or following too closely</li>
    </ul>
  </div>
  <div class="benefits-box__usecase rich-text rhythm">
    {{#>@heading variant="h4"}}Use case:{{/@heading}}
    <p><a href="#"><strong>Performance Food Group</strong></a> used telematics to improve its safety record and, as a result, cut its cost per claim by 40 percent. The Richmond, Va., company saw a 12 percent decrease in near collisions and a 24 percent increase in seat-belt use after deploying video telematics to coach its drivers and help improve their skills.</p>
  </div>
</div>
