

<section
   class="layout--full-width bg--gray-4"
  
  
>
  <div  class="wrapper rhythm--extra-large">
    
<div  class="media extra-large media--split media--align-center media--justify-default">
    <div  class="media__body media__body--split rhythm">
  <h2  class="heading heading--h2">
          Benefits and perks

</h2>

      <p>
        Our employees are our greatest asset. To thank you for sharing your skills, knowledge, and talents, we work hard to provide competitive benefits that make working at Lytx enjoyable and rewarding.
      </p>

</div>

<div  class="media__figure media__figure--center">
        <img srcset="//fpoimg.com/666x333, //fpoimg.com/1332x666 2x" src="//fpoimg.com/666x333" alt="lorem ipsum">

</div>

</div>

<div  class="media extra-large media--default media--align-top media--justify-space-between">
          

</div>


  </div>
</section>

