

<div
   class="card card--press-release card--flush card--cs"
  data-cs-industry="Trucking"
  
  
  data-cs-date="Jun 29, 2019"
>
       <img class="card__img" srcset="//fpoimg.com/340x175, //fpoimg.com/680x350 2x" src="//fpoimg.com/340x175" alt="lorem ipsum">

<div  class="card--padding rhythm--small">
             <p class="text--small color--gray-1">Jun 29, 2019</p>
<h5  class="heading heading--h5">
              <a href="#">
                Super Very Long, Like Ridiculously Long, Press Release Title
            </a>

</h5>

</div>

</div>

