

<div
   class="card card--cs"
  data-cs-industry="government"
  data-cs-fleetSize="50-499"
  data-cs-result="Improved-Driver-Performance"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          GOVERNMENT

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          Rising to the Top: The Transformational Turnaround of Concho Valley Transit District

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>50-499</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Improved-Driver-Performance</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>

