

<div
   class="card card--news card--flush rhythm--large"
  
  
  
  
>
    <div class="logo-box">
  <img class="logo-box__img" srcset="../../images/logo-techcrunch.png, ../../images/logo-techcrunch@2x.png 2x" src="../../images/logo-techcrunch.png" alt="Techcrunch logo">
</div>


  <div class="rhythm">
    <div>
<h4  class="heading heading--h4">
          Tech Crunch

</h4>

      <p>April 11, 2019</p>
    </div>

<h3  class="heading heading--h3">
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </a>

</h3>

    <p>
      Fusce pharetra libero a tortor convallis, a pharetra urna convallis. Vestibulum odio erat, ultrices ac malesuada et, semper ac mauris.
    </p>
    </div>

</div>

