

<div
   class="card card--event card--flush card--cs"
  data-cs-industry="Trucking"
  
  
  
>
       <img class="card__img" srcset="//fpoimg.com/340x175, //fpoimg.com/680x350 2x" src="//fpoimg.com/340x175" alt="lorem ipsum">

<div  class="card--padding rhythm">
     <h5  class="heading heading--h5">
              <a href="#">
                Event Title
            </a>

</h5>

        <div  class="event-details rhythm--small">
    <p class="text--small color--gray-1">City, State</p>

<h4  class="heading heading--h4">
          Jun 29 - Jun 30, 2019

</h4>
</div>


</div>

</div>

