

<div class="carousel--autoplay rhythm--large">
  <div class="carousel__container">
    <div class="carousel__cell">
      <blockquote class="testimonial rhythm">
  <figure class="rhythm">
    <figcaption>
      <p>
        “Prior to implementing Lytx, all we could do once a driver left our plant was make sure he returned on time. Now, we are actually able to manage drivers while they are gone and can ensure they are getting the coaching they need to ensure the results we expect.”
      </p>

      <cite class="testimonial__cite">
        Rick Maidens, Director of Safety and Risk Management, U.S. Concrete
      </cite>
    </figcaption>
  </figure>
</blockquote>

    </div>

    <div class="carousel__cell">
      <blockquote class="testimonial rhythm">
  <figure class="rhythm">
      <img class="testimonial__image" src="/images/testimonial_logo.jpg">
    <figcaption>
      <p>
        “If there was one technology I could have had throughout my 32 years in the transportation business, [Lytx] would be it. It’s another set of eyes. It’s proof. It protects the driver. And it protects the company.”
      </p>

      <cite class="testimonial__cite">
        Jerry Welsch, A.D. Transport Express’ Safety Manager
      </cite>
    </figcaption>
  </figure>
</blockquote>

    </div>

    <div class="carousel__cell">
      <blockquote class="testimonial rhythm">
  <figure class="rhythm">
    <figcaption>
      <p>
        “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates, voluptas vero dolore perspiciatis deleniti quasi perferendis nobis facilis commodi voluptate, esse, unde dolorem modi fugiat a earum mollitia omnis.”
      </p>

      <cite class="testimonial__cite">
        Martin Blank, Director of Grosse Pointe Waste Management
      </cite>
    </figcaption>
  </figure>
</blockquote>

    </div>
  </div>
</div>

