

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper--squeezed rhythm--default">
      <div class="section-heading rhythm text--align-center">
<h3  class="heading heading--h3">
        Comprehensive, customizable solutions

</h3>

      <p>
        Our cutting-edge vehicle technologies help fleet managers improve driver safety, efficiency, and DOT compliance.
      </p>
  </div>

  </div>
</section>


<section
   class="layout--full-width bg--white flush-top"
  
  
>
  <div  class="wrapper rhythm--default">
      <div class="carousel--rotator rhythm--extra-large">
    <div class="carousel__container">
      <div class="carousel__cell">
        <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
        <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
      </div>
      <div class="carousel__cell">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QHiyLtCqu1c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="video-wrapper">
          <iframe src="https://player.vimeo.com/video/148683340?title=0&byline=0&portrait=0" width="1000" height="563" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
      <div class="carousel__cell">
        <img srcset="//fpoimg.com/983x574?text=4&bg_color=ababab&text_color=ffffff, //fpoimg.com/1966x1148?text=4&bg_color=ababab&text_color=ffffff 2x" src="//fpoimg.com/983x574?text=4&bg_color=ababab&text_color=ffffff" alt="lorem ipsum">
      </div>
    </div>

    <div class="carousel__tabs rhythm--extra-large">
<ul  class="list list--blank layout--4up layout--4up-fit">
            <li class="carousel__tab">
            <div class="rhythm--small">
<h4  class="heading heading--h4">
                  Fleet dash cams

</h4>

<h3  class="heading heading--h3">
                  <a href="#">
                  Protect against the unexpected
                </a>

</h3>

              <p>
                Cloud-connected cameras provide up to 100 hours of reliable, continually recorded video evidence.
              </p>
            </div>
          </li>
          <li class="carousel__tab">
            <div class="rhythm--small">
<h4  class="heading heading--h4">
                  Driver safety solutions

</h4>

<h3  class="heading heading--h3">
                  <a href="#">
                  Support safer driving
                </a>

</h3>

              <p>
                Accurate insights and proven coaching methods to protect your drivers and your bottom line.
              </p>
            </div>
          </li>
          <li class="carousel__tab">
            <div class="rhythm--small">
<h4  class="heading heading--h4">
                  GPS fleet tracking

</h4>

<h3  class="heading heading--h3">
                  <a href="#">
                  Monitor your vehicles in real-time*
                </a>

</h3>

              <p>
                Improve operational efficiency and ensure faster service with GPS fleet tracking and integrated video.
              </p>
            </div>
          </li>
          <li class="carousel__tab">
            <div class="rhythm--small">
<h4  class="heading heading--h4">
                  DOT compliance

</h4>

<h3  class="heading heading--h3">
                  <a href="#">
                  Connect and streamline compliance management
                </a>

</h3>

              <p>
                Meet the mandates with devices and services that streamline and simplify compliance management.
              </p>
            </div>
          </li>

</ul>
    </div>

    <div class="text--align-center">
      <a href="#"  class="button button--link button--primary button--size-large" >
  See all solutions
</a>

    </div>
  </div>


  </div>
</section>

