

<div class="wrapper">
  <div class="layout layout--case-study">
    <div class="layout--case-study__major">
      <!-- `/rich-text` assumes free flowing RTE content by author and no class names are to be associated with elements -->
      <div class="rich-text rhythm rhythm--large case-study-detail">
        <h2>The DriveCam Difference</h2>
        <p>Cargo Transporters, Inc., located in North Carolina, is a transportation operation that delivers truckload and dry van service in the forty-eight continental United States.</p>
        <p>Named as a Top 100 Carrier by Inbound Logistics Magazine, the company is known for its innovative solutions and cost-saving strategies that help shippers gain a competitive advantage. And it applies the same proactive approach in continually improving its own operations, especially where risk mitigation and safety are concerned.</p>
        <p>“There is nothing that is more important to us than the safety of our drivers and the safety of the motoring public,” says Cargo Transporters Chairman John Pope.</p>
        <p>However, like many commercial transportation businesses, the company was facing its share of safety challenges—experiencing accidents and needing to find ways to reduce fraudulent claims and exonerate drivers from wrongful accusations.</p>
        <p>Knowing that a change was needed to take its safety program to the next level, the company launched the Lytx Driver Safety Program, including outfitting its entire fleet of tractor-trailer trucks with DriveCam® event recorders. As Pope said, “[Lytx] was our next step to really step up our safety program.”</p>

        <h3>The Power of Video and Driver Coaching</h3>
        <p>Since installing DriveCam event recorders across its fleet, Cargo Transporters has seen a significant reduction in fraudulent claims and litigation costs. In fact, with the savings from just two wrongful claims, Lytx has already paid for itself.</p>
        <p>In both claims, when Cargo Transporters showed the opposing attorneys the videos, they immediately dropped their cases. “Primarily, we wanted to prove that our drivers were safety conscious and were not the cause of these incidents,” said Pope. As a result, the company saved between $50,000 and $100,000 in simple litigation costs in each of the two claims.></p>
        <p>In addition, driver behavior has markedly improved— especially in areas of following too close and rear-end collisions.</p>
        <p>“With the DriveCam [event recorder] footage, we get a first-hand view to see what the drivers are seeing. We see how traffic is interacting with our vehicle, and how our drivers are interacting with other traffic,” said Vice President of Operations, Jerry Sigmon, Jr. By combining Lytx video input and professional analysis with driver coaching, drivers’ behaviors on the road are continually becoming safer.</p>

        <img src="//fpoimg.com/1600x900?text=accomodates any size" alt="lorem ipsum">

        <p>“The primary thing that sold us on the [Driver Safety] Program was the fact that it’s a turnkey solution,” said Pope. “The event gets recorded, it gets transmitted to the [Lytx] server, and a professional then reviews that data, scores it, and analyzes it for our operations to then act upon.”</p>
        <p>With its simplicity, ease of use, and all-inclusive nature, Pope felt confident that the Driver Safety Program would address the company’s need for documented video evidence to prove fault in collisions and refute fraudulent claims, as well as to improve driver behaviors.</p>
        <p>Of course, implementation of a video-based driver risk management program can be a sensitive topic and, indeed, a delicate process for drivers, as was the case for Cargo Transporters.</p>
        <p>“We knew there was potential for drivers to feel as if their privacy was being invaded, and we felt it was extremely important for them to understand what the system does and how it functions,” said Pope.</p>
        <p>As part of ongoing efforts to educate drivers about the Driver Safety Program, Cargo Transporters makes sure to highlight the benefits drivers can expect.</p>

        <blockquote>
          “From the time our drivers open the door to get into the truck they’re at risk, and I see [Lytx] as a tool to help manage that risk,” said Cargo Transporters President Dennis Dellinger. “We show clips that have exonerated drivers, and once we do that, we actually have drivers who step up and say, ‘Put a video recorder in my vehicle’.”
        </blockquote>

        <h2>Conclusion</h2>

        <p>As a result of using the DriveCam video event recorders and driver risk management program, Cargo Transporters has improved driver behaviors across its fleet, reduced fraudulent claims, exonerated drivers, and decreased litigation costs significantly.</p>
        <p>Pope concludes, “To us, the biggest value is having an eye and an ear out there with the driver, to know what the driver has encountered. What a carrier can get from the [Driver Safety] Program is tremendous and in our opinion, pays for itself.”</p>

        <blockquote>
          Dellinger concurs. “My suggestion to someone looking to purchase? <strong>I can sum it up in one word: Priceless.</strong>”
        </blockquote>

      </div><!--/ rich-text -->
    </div><!--/ __major -->

    <div class="layout--case-study__first case-study-detail-right-rail">
      <div class="vertical-offset rich-text rhythm rhythm--large case-study-detail">
        <!-- <img src="//fpoimg.com/456x258"> -->
        <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
        <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <h3>Problem</h3>
        <ul>
          <li>Too many fraudulent claims and wrongful accusations of drivers</li>
          <li>Safety department spending too much time reacting after collisions</li>
          <li>Litigation costs negatively impacting the company’s bottom line</li>
        </ul>
        <h3>Results</h3>
        <ul>
          <li>Significant reduction in fraudulent claims and litigation costs</li>
          <li>Improved driver behavior, especially by increasing following distance which helped reduce rear-end collisions</li>
          <li>Savings from two wrongful claims case exonerations paid for the entire program</li>
        </ul>
        <h3>Solution</h3>
        <ul>
          <li>Too many fraudulent claims and wrongful accusations of drivers</li>
          <li>Safety department spending too much time reacting after collisions</li>
          <li>Litigation costs negatively impacting the company’s bottom line</li>
        </ul>
      </div><!--/ vertical offset -->
    </div><!--/ first -->

    <div class="layout--case-study__second case-study-detail-right-rail">
      
      <div class="rich-text rhythm rhythm--large case-study-detail case-study-detail-right-rail">
        <h2>We deliver the results fleets need.</h2>
        <p>Just ask the 99% of our clients that renew each year.</p>
      </div><!--/ rich-text -->

      <div class="case-study-client-list">
        <a href="#" class="case-study-client-list__item">
          <figure class="case-study-client-list__figure">
            <img src="//fpoimg.com/163x118">
            <figcaption>NFI Industries reduces collision frequency by more than 50% with Lytx.</ficaption>
          </figure>
        </a>
        <a href="#" class="case-study-client-list__item">
          <figure class="case-study-client-list__figure">
            <img src="//fpoimg.com/163x118">
            <figcaption>CalArk Reduces CSA Scores and Compliance Issues with Lytx RAIR Services.</ficaption>
          </figure>
        </a>
      </div>
      <div class="case-study-client-list__cta">
        <a class="button button--primary">See all clients</a>
      </div>
    </div><!--/ __second -->
  </div><!--/ layout__case-study -->
</div><!--/ wrapper -->
