

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--extra-large">
    
<div  class="media extra-large media--split-bordered media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
  <figure class="feature rhythm">
    <img src="//fpoimg.com/460x258" alt="lorem ipsum">

  <figcaption class="feature__content rhythm">
    <div>
        <h2  class="heading heading--h2">
  Lytx Video Platform
</h2>

    </div>
      <p>The Lytx Video Platform gives you access to reliable, continually recorded video and a quick and easy way to find the exact video clips you’re looking for when you need to understand what happened, all within minutes of capture.</p>
  </figcaption>
</figure>

</div>

<div  class="media__figure media__figure--center">
  <figure class="feature rhythm">
    <img src="//fpoimg.com/460x258" alt="lorem ipsum">

  <figcaption class="feature__content rhythm">
    <div>
        <h2  class="heading heading--h2">
  DriveCam Event Recorders
</h2>

    </div>
      <p>Make sure that no critical details go unrecorded. The Lytx DriveCam Event Recorder enables all of our services by capturing video, processing data and analyzing what’s happening on the road. Build even more visibility into your program by adding side and back-up cameras to cover multiple views.</p>
  </figcaption>
</figure>

</div>

</div>

  </div>
</section>

