

<section
   class="layout--full-width bg--text cs--filterable js-cs--filterable"
  
  id="cs--featured"
>
  <div  class="wrapper rhythm--large">
    
<div  class="media large media--2-1 media--align-top media--justify-default media--flip-small media--flip-large">
    <div  class="media__figure media__figure--top text--align-left">
        <div class="layout--4up layout--4up-fit layout--cs-list" data-initial-limit="2">
        <div
   class="card card--cs"
  data-cs-industry="government"
  data-cs-fleetSize="50-499"
  data-cs-result="Improved Driver Performance"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          GOVERNMENT

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          Rising to the Top: The Transformational Turnaround of Concho Valley Transit District

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>50-499</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Improved Driver Performance</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="government"
  data-cs-fleetSize="500+"
  data-cs-result="Reduce Costs"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          GOVERNMENT

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          TriMet reduces collision frequency by more than 50% with Lytx.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>500+</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Reduce Costs</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="construction"
  data-cs-fleetSize="50-499"
  data-cs-result="Improved Driver Performance"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/calark-logo.png, ../../images/calark-logo@2x.png 2x" src="../../images/calark-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          Construction

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          MedStar Mobile Healthcare dramatically reduces collisions and associated costs with the Lytx DriveCam safety program.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>50-499</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Improved Driver Performance</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="construction"
  data-cs-fleetSize="50-499"
  data-cs-result="Improved Driver Performance"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          Construction

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          Orange County, Florida, reduces collisions by 40% with Lytx.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>50-499</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Improved Driver Performance</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="trucking"
  data-cs-fleetSize="10-49"
  data-cs-result="Reduce Costs"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/calark-logo.png, ../../images/calark-logo@2x.png 2x" src="../../images/calark-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          Trucking

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          NFI Industries reduces collision frequency by more than 50% with Lytx.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>10-49</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Reduce Costs</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="trucking"
  data-cs-fleetSize="500+"
  data-cs-result="Reduce Costs"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          Trucking

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          A.D. Transport Express Inc. Cuts Claims Costs and Helps Protect and Retain Drivers with Lytx

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>HELLO</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>500+</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Reduce Costs</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="waste"
  data-cs-fleetSize="10-49"
  data-cs-result="Manage Fleet Risk"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          waste

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          Acme reduces traffic violations, the severity of risky driving events, and more with the Lytx DriveCam safety program.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>10-49</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Manage Fleet Risk</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>


        <div
   class="card card--cs"
  data-cs-industry="waste"
  data-cs-fleetSize="500+"
  data-cs-result="Manage Fleet Risk"
  
>
    <a href="#" class="card--cs__link rhythm">
    <div class="card--cs__logo">
      <img srcset="../../images/liquid-logo.png, ../../images/liquid-logo@2x.png 2x" src="../../images/liquid-logo.png" alt="NFI logo">
    </div>

    <div class="card--cs__heading-group rhythm--small">
<h4  class="heading heading--h4 card--cs__subheading">
          waste

</h4>

<h5  class="heading heading--h5 color--action card--cs__title">
          LES significantly reduces traffic violations, the severity of risky driving events, and more with the Lytx DriveCam safety program.

</h5>
    </div>

<ul  class="list list--blank card--cs__list text--small color--gray-1">
        <li>58% decrease in collision frequency</li>
      <li>62% reduction in traffic violations</li>
      <li>26% improvement in respince rate</li>

</ul>

    <table class="card--cs__table">
      <tbody>
        <tr>
          <td>Fleet Size:</td>
          <td>500+</td>
        </tr>
        <tr>
          <td>Result:</td>
          <td>Manage Fleet Risk</td>
        </tr>
      </tbody>
    </table>
  </a>

</div>

      </div>

</div>

<div  class="media__body media__body--2-1 rhythm--large">
  <h3  class="heading heading--h3 color--white">
          We deliver safety, success, and peace of mind for customers just like you.

</h3>

      <p class="color--white">Lytx partners across industries, protecting fleets of all sizes from ten to 500+ vehicles. Learn more about how we’re improving safety in your industry.</p>

       <div class="form-wrapper form--inline js-form--filters">
         <fieldset class="rhythm--small">
          <label for="filter--industry" class="color--white">Industry</label>
          <div class="input--select transparent">
            <select class="transparent bg--text" id="filter--industry" name="filter--industry">
              <option selected value="All">All industries</option>
              <option value="Government">Government</option>
              <option value="Construction">Construction</option>
              <option value="Trucking">Trucking</option>
              <option value="Waste">Waste</option>
            </select>
          </div>
        </fieldset>
      </div>

</div>

</div>

  </div>
</section>

