

<div class="full-width-image" style="background-image: url(/images/join-our-team.jpg);">
  <div class="full-width-image__wrapper rhythm">
<h2  class="heading heading--h2 full-width-image__heading">
        BEYOND TELEMATICS

</h2>
    <p class="full-width-image__context">
      How video predicts risky behavior
    </p>

    <div class="full-width-image__ctas">
<a href="#"  class="button button--link button--primary button--size-default button--icon" >
          DOWNLOAD THE WHITEPAPER

  <svg  viewBox="0 0 23 19" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.347 8.249l-7-7.525a1.605 1.605 0 00-2.365 0c-.645.693-.645 1.849 0 2.542l4.133 4.47H1.823c-.931 0-1.672.796-1.672 1.797s.741 1.798 1.672 1.798h15.292l-4.134 4.443c-.645.693-.645 1.849 0 2.542.334.36.764.54 1.195.54.43 0 .86-.18 1.194-.54l6.977-7.499a1.9 1.9 0 00.502-1.284c0-.488-.167-.95-.502-1.284z"/>
  </svg>
</a>
    </div>
  </div><!--/ wrapper -->
</div>

