

<div class="wrapper">
  <figure class="logo-farm">
    <figcaption class="logo-farm__rotator">
      <h1  class="heading heading--h1 logo-farm__heading rotator-1">
  Powering safety
</h1>

      <h1  class="heading heading--h1 logo-farm__heading rotator-2">
  Increasing efficiency
</h1>

      <h1  class="heading heading--h1 logo-farm__heading rotator-3">
  Providing protection
</h1>

      <h1  class="heading heading--h1 logo-farm__heading rotator-4">
  Enabling savings
</h1>

      <h1  class="heading heading--h1 logo-farm__heading rotator-5">
  Improving customer service
</h1>

      <h1  class="heading heading--h1 logo-farm__heading rotator-6">
  Enhancing productivity
</h1>

      
      <h3  class="heading heading--h3">
  for more than 3,000 top fleets worldwide
</h3>

    </figcaption>
    <img id="logo-farm-trigger" class="logo-farm__img logo-farm__img-major" src="/images/logo-lytx.jpg" alt="logo for Lytx">
    <a href="#liquid-case-study"><img id="logo-farm-img1" class="logo-farm__img logo-farm__img-gs" src="/images/logo-liquid.jpg" alt="logo for Liquid Environmental Solutions"></a>
    <a href="#flogas-case-study"><img id="logo-farm-img2" class="logo-farm__img logo-farm__img-gs" src="/images/logo-flogas.jpg" alt="logo for FloGas"></a>
    <a href="#dnk-case-study"><img id="logo-farm-img3" class="logo-farm__img logo-farm__img-gs" src="/images/logo-dnk.jpg" alt="logo for DNK Management"></a>
    <a href="#cvt-case-study"><img id="logo-farm-img4" class="logo-farm__img logo-farm__img-gs" src="/images/logo-cvt.jpg" alt="logo for Concho Valley Transit"></a>
    <a href="#cargo-case-study"><img id="logo-farm-img5" class="logo-farm__img logo-farm__img-gs" src="/images/logo-cargo.jpg" alt="logo for Cargo Transporters"></a>
    <a href="#calark-case-study"><img id="logo-farm-img6" class="logo-farm__img logo-farm__img-gs" src="/images/logo-calark.jpg" alt="logo for Cal Ark"></a>
    <a href="#adt-case-study"><img id="logo-farm-img7" class="logo-farm__img logo-farm__img-gs" src="/images/logo-adt.jpg" alt="logo for A.D. Transport Express"></a>
  </figure>
</div>

