

<div class="layout layout--major-minor">
  <div class="layout--case-study__major wrapper bg--gray-4 rhythm">
    <h1  class="heading heading--h1">
  Major component
</h1>

    <p>Accumsan lacus vel facilisis volutpat est velit egestas. Risus ultricies tristique nulla aliquet enim tortor at. Ultrices dui sapien eget mi proin. Scelerisque varius morbi enim nunc faucibus. Imperdiet sed euismod nisi porta lorem mollis. Eu augue ut lectus arcu bibendum.</p>
  </div>
  <div class="layout--case-study__minor wrapper bg--gray-4 rhythm">
    <h2  class="heading heading--h2">
  Minor component
</h2>

    <p>Pretium nibh ipsum consequat nisl vel pretium. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan.</p>
  </div>
</div>
