

<div  class="media media--3-2 jump-links__target media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
      <img src="//fpoimg.com/698x561" alt="lorem ipsum">

</div>

<div  class="media__body media__body--3-2 jump-links__target rhythm--large">
      <h2  class="heading heading--h2">
  Cloud-connected cameras
</h2>

    <p>Help protect your business with full fleet visibility. Capture critical incidents with cloud-connected, continually recorded video and quickly find the clips you need to understand what really happened.</p>
    <p><a href="#"  class="button button--link button--primary button--size-default" >
  Product details
</a>
</p>

</div>

</div>

