

<button data-a11y-dialog-show="xyz-modal" class="button modal__trigger modal__trigger--director ">
    <div class="rhythm--large">
       <div>
<h3  class="heading heading--h3 modal__trigger--director-name">
                  Person Longname III

</h3>
            <p class="modal__trigger--director-title">
               Magician &amp; Puppy Wrangler
            </p>
        </div>

        <div class="modal__trigger--director-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta culpa quam accusamus provident fugiat illum impedit sunt ea eius, molestiae reiciendis praesentium atque sequi pariatur. Porro dolores doloremque sed...</p>
        </div>

<h4  class="heading heading--h4 modal__trigger--director-more">
              read more

</h4>

    </div>
</button>
