

  <button data-a11y-dialog-show="xyz-modal" class="button modal__trigger button--primary">
  Click Me!
</button>


<div  class="modal" id=xyz-modal>

  <div class="modal__overlay" tabindex="-1" data-a11y-dialog-hide="true"></div>


  <div role="dialog" class="modal__content" aria-labelledby=xyz-modal-heading aria-describedby=xyz-modal-content>
    <div class="modal__inner rhythm--large">
      <button data-a11y-dialog-hide class="modal__close" aria-label="Close this dialog window">&times;</button>



      <div class="modal__inner-content" id=xyz-modal-content>
         
      </div>
    </div>
  </div>
</div>

