

<div class="wrapper page-head-interior page-head-interior--case-study">
  <div class="layout layout--case-study">
    <div class="case-study-heading">
      <h4  class="heading heading--h4 page-head-interior__subtitle">
  Lorem Ipsum
</h4>

      <h1  class="heading heading--h1 page-head-interior__title">
  Cargo Transporters reduces fraudulant claims costs with the Lytx Driver Safety Program.
</h1>

    </div><!--/ case-study-heading -->
    <div class="case-study-stats">
      <div class="case-study-stats__stat">
        <h1  class="heading heading--h1">
  83%
</h1>

        <strong>Decrease in near collisions</strong>
      </div>
      <div class="case-study-stats__stat">
        <h1  class="heading heading--h1">
  26%
</h1>

        <strong>Improvement in safe following distances</strong>
      </div>
      <div class="case-study-stats__stat">
        <h1  class="heading heading--h1">
  33%
</h1>

        <strong>Drop in unbelted drivers</strong>
      </div>
    </div><!--/ case-study-stats -->
  </div><!--/ __ layout -->
</div><!--/ --case-study -->

