

<div class="page-head page-head--major" style="background-image: url(/images/page-head--major.jpg);">
    <div class="page-head-interior rhythm--small">
      <h4  class="heading heading--h4 page-head-interior__subtitle">
      Lorem Ipsum
    </h4>
    
      <h1  class="heading heading--h1 page-head-interior__title">
      Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </h1>
    
      <p class="page-head-interior__tagline">Duis aute, irure dolor, in reprehenderit, in voluptate velit esse cillum.</p>
    </div>
</div>

