

<section
   class="layout--full-width bg--white photo-gallery"
  
  
>
  <div  class="wrapper rhythm--default">
    <div  class="media media--2-1 media--align-top media--justify-default media--flip-small media--flip-large">
    <div  class="media__figure media__figure--top">
        <div class="carousel rhythm--large">
  <div class="carousel__container">
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=1&bg_color=4287f5&text_color=ffffff, //fpoimg.com/1400x934?text=1&bg_color=4287f5&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=1&bg_color=4287f5&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=2&bg_color=3b3b3b&text_color=ffffff, //fpoimg.com/1400x934?text=2&bg_color=3b3b3b&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=2&bg_color=3b3b3b&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=3&bg_color=42f5e3, //fpoimg.com/1400x934?text=3&bg_color=42f5e3 2x" src="//fpoimg.com/700x467?text=3&bg_color=42f5e3" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=4&bg_color=ababab&text_color=ffffff, //fpoimg.com/1400x934?text=4&bg_color=ababab&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=4&bg_color=ababab&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=5&bg_color=b91ee8&text_color=ffffff, //fpoimg.com/1400x934?text=5&bg_color=b91ee8&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=5&bg_color=b91ee8&text_color=ffffff" alt="lorem ipsum">
    </div>
    <div class="carousel__cell">
      <img class="carousel__img" srcset="//fpoimg.com/700x467?text=6&bg_color=e81e1e&text_color=ffffff, //fpoimg.com/1400x934?text=6&bg_color=e81e1e&text_color=ffffff 2x" src="//fpoimg.com/700x467?text=6&bg_color=e81e1e&text_color=ffffff" alt="lorem ipsum">
    </div>
  </div>

  <div class="carousel__controls">
      <button type="button" class="carousel__control-arrow carousel__control-prev is-active">
        <svg class="carousel__icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.705.705c.39.39.39 1.02 0 1.41L3.83 7H15a1 1 0 110 2H3.83l4.876 4.884a.998.998 0 01-1.411 1.411L0 8 7.295.705a.997.997 0 011.41 0z" fill="#009CDE" fill-rule="evenodd"/>
        </svg>
      </button>
      <span class="carousel__current">&nbsp;</span>
      <span class="carousel__seperator">&ndash;</span>
      <span class="carousel__next">&nbsp;</span>
      <button type="button" class="carousel__control-arrow carousel__control-next is-active">
        <svg class="carousel__icon" viewBox="0 0 23 19" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.347 8.249l-7-7.525a1.605 1.605 0 00-2.365 0c-.645.693-.645 1.849 0 2.542l4.133 4.47H1.823c-.931 0-1.672.796-1.672 1.797s.741 1.798 1.672 1.798h15.292l-4.134 4.443c-.645.693-.645 1.849 0 2.542.334.36.764.54 1.195.54.43 0 .86-.18 1.194-.54l6.977-7.499a1.9 1.9 0 00.502-1.284c0-.488-.167-.95-.502-1.284z"/>
        </svg>
      </button>
    </div>
</div>


</div>

<div  class="media__body media__body--2-1 rhythm">
          
      <h2 class="heading heading--h2">
        Why work at Lytx?
      </h2>

      <p>
        You want to join a team of hungry, humble, and capable people and dedicate your time and talent to making a difference in our world. At Lytx, you’ll work to apply cutting edge technology to improve safety and save on our roadways.
      </p>
      <p>
          Being part of a market-leading, medium-sized technology company means that there's room for you to learn, grow, and make a significant impact.
      </p>
    

</div>

</div>

  </div>
</section>

