

<nav class="secondary-nav js-global-nav">
  <ul class="secondary-nav__list">
    <li class="u-lores-only">
      <a href="#" class="nav__close">
        <span class="a11y-visually-hidden">Back</span>
        <svg class="icon--arrow-left" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.705.705c.39.39.39 1.02 0 1.41L3.83 7H15a1 1 0 110 2H3.83l4.876 4.884a.998.998 0 01-1.411 1.411L0 8 7.295.705a.997.997 0 011.41 0z" fill="#009CDE" fill-rule="evenodd"/>
        </svg>
      </a>
    </li>
    <li class="nav__category subnav__category">
      <a class="nav__menu-toggle secondary-nav__login" href="#">
        <svg viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"  class="icon--person"><path d="M2.333 12.333v1.334a.667.667 0 01-1.333 0v-1.334C1 10.29 4.22 9 7 9s6 1.29 6 3.333v1.334a.667.667 0 01-1.333 0v-1.334c0-.973-2.563-2-4.667-2-2.104 0-4.667 1.027-4.667 2zm8-8a3.333 3.333 0 11-6.666 0 3.333 3.333 0 116.666 0zM9 4.333a2 2 0 10-3.999-.001A2 2 0 009 4.333z" fill="#009CDE" stroke="#009CDE" stroke-width=".5"/></svg>        <span class="u-hires-only">Login</span>
      </a>

      <div class="global-nav__menu secondary-nav__menu" aria-hidden="true">
        <div class="global-nav__menu-inner-wrap">
          <ul class="global-nav__submenu">
            <li>
              <a class="nav__link nav__link--portal" href="#">
                Drivecam online
                <svg viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"  class="icon--person subnav__icon-person"><path d="M2.333 12.333v1.334a.667.667 0 01-1.333 0v-1.334C1 10.29 4.22 9 7 9s6 1.29 6 3.333v1.334a.667.667 0 01-1.333 0v-1.334c0-.973-2.563-2-4.667-2-2.104 0-4.667 1.027-4.667 2zm8-8a3.333 3.333 0 11-6.666 0 3.333 3.333 0 116.666 0zM9 4.333a2 2 0 10-3.999-.001A2 2 0 009 4.333z" fill="#009CDE" stroke="#009CDE" stroke-width=".5"/></svg>              </a>
            </li>
            <li>
              <a class="nav__link nav__link--portal" href="#">
                RAIR Portal
                <svg viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"  class="icon--person subnav__icon-person"><path d="M2.333 12.333v1.334a.667.667 0 01-1.333 0v-1.334C1 10.29 4.22 9 7 9s6 1.29 6 3.333v1.334a.667.667 0 01-1.333 0v-1.334c0-.973-2.563-2-4.667-2-2.104 0-4.667 1.027-4.667 2zm8-8a3.333 3.333 0 11-6.666 0 3.333 3.333 0 116.666 0zM9 4.333a2 2 0 10-3.999-.001A2 2 0 009 4.333z" fill="#009CDE" stroke="#009CDE" stroke-width=".5"/></svg>              </a>
            </li>
            <li>
              <a class="nav__link nav__link--portal" href="#">
                Product Information
                <svg viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"  class="icon--person subnav__icon-person"><path d="M2.333 12.333v1.334a.667.667 0 01-1.333 0v-1.334C1 10.29 4.22 9 7 9s6 1.29 6 3.333v1.334a.667.667 0 01-1.333 0v-1.334c0-.973-2.563-2-4.667-2-2.104 0-4.667 1.027-4.667 2zm8-8a3.333 3.333 0 11-6.666 0 3.333 3.333 0 116.666 0zM9 4.333a2 2 0 10-3.999-.001A2 2 0 009 4.333z" fill="#009CDE" stroke="#009CDE" stroke-width=".5"/></svg>              </a>
            </li>
            <li>
              <a class="nav__link" href="#">
                Store
                <svg viewBox="0 0 6 9" xmlns="http://www.w3.org/2000/svg" class="subnav__chevron">
                  <path d="M1.42 1.42a.594.594 0 000 .84l2.306 2.31-2.307 2.313a.594.594 0 00.84.84L5.41 4.57 2.259 1.42a.593.593 0 00-.84 0z" fill-rule="evenodd"/>
                </svg>
              </a>
            </li>
            <li>
              <a class="nav__link" href="#">
                News and Events
                <svg viewBox="0 0 6 9" xmlns="http://www.w3.org/2000/svg" class="subnav__chevron">
                  <path d="M1.42 1.42a.594.594 0 000 .84l2.306 2.31-2.307 2.313a.594.594 0 00.84.84L5.41 4.57 2.259 1.42a.593.593 0 00-.84 0z" fill-rule="evenodd"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li class="subnav__category u-medres-up">
      <a href="#"  class="button button--link button--primary button--size-default" >
  Get Started
</a>

    </li>
  </ul>
</nav>

