

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--default">
    <div  class="media media--2-1 media--align-center media--justify-default">
    <div  class="media__figure media__figure--center animate">
        <img src="/images/3_extend_vision.jpg" alt="lorem ipsum">

</div>

<div  class="media__body media__body--2-1 rhythm--large">
        <h2 class="heading heading--h2">
        Extend your visibility in any direction
      </h2>
      <p>
        Whether you need to gather facts about a collision, verify service, or ensure compliance, the Lytx Video Platform shows you what happened so you can take action. Choose between road view, inside view, both, or add views from up to <a href="#">four additional connected cameras</a>.
      </p>

</div>

</div>

  </div>
</section>

