

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--default">
    <div  class="media media--2-1--rev media--align-center media--justify-default">
    <div  class="media__body media__body--2-1--rev rhythm--large">
        <h2 class="heading heading--h2">
        Two solutions for greater fleet safety
      </h2>
      <p>
        Prevent collisions before they happen with our proven systems that help pinpoint risk, change driver behavior, and reduce claims costs. Our <a href="#">Driver Safety Program</a> is the most powerful set of fleet safety tools available anywhere, offering a video-based coaching to build your drivers’ skills and change risky behavior. Our <a href="#">Risk Detection Service</a> allows you to track fleet risk so you can decide when coaching is needed.
      </p>
       <p>
        <button  class="button button--2-1--rev button--size-default" >
  Book a Demo
</button>

      </p>

</div>

<div  class="media__figure media__figure--center animate">
        <img src="/images/5_two_solutions.jpg" alt="lorem ipsum">

</div>

</div>

  </div>
</section>

