

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--default">
    <div  class="media media--2-1--rev media--align-center media--justify-default">
    <div  class="media__body media__body--2-1--rev rhythm--large">
        <h2 class="heading heading--h2">
        Improve safety and protect your bottom line
      </h2>
      <p>
        Video evidence can provide you with indisputable truth, which could help you exonerate your drivers and maintain profits by saving money on insurance claims. Our cloud-connected cameras provide reliable, continual recording, giving you 100 hours of video evidence anywhere you have an internet connection.
      </p>

</div>

<div  class="media__figure media__figure--center animate">
        <img src="/images/4_improve_safety.jpg" alt="lorem ipsum">

</div>

</div>

  </div>
</section>

