

<details class="spec-sheet">
  <summary class="spec-sheet__summary">
    <div class="wrapper">
      <p class="text--align-center">
        <span class="spec-sheet__show">Show Specifications</span>
        <span class="spec-sheet__hide">Hide Specifications</span>
      </p>
    </div>
  </summary>
  <div class="wrapper rhythm--extra-large spec-sheet__body">
    <h2 class="heading heading--h2 text--align-center">
      Device Specifications
    </h2>

    <section class="layout layout--2col">
        <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Event Recorder Unit</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Weight</td>
          <td class="table--specs__cell table--specs__detail">.74 lb (336g) [.8 lb 363g]</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Dimensions (W x H x D)</td>
          <td class="table--specs__cell table--specs__detail">5.0 x 4.2 x 2.2 in</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Operating Temperature</td>
          <td class="table--specs__cell table--specs__detail">-40 °F to 185 °F</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Microphone</td>
          <td class="table--specs__cell table--specs__detail">Omnidirectional</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Speaker</td>
          <td class="table--specs__cell table--specs__detail">SF300: Yes.   SF64: No</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Status Lights</td>
          <td class="table--specs__cell table--specs__detail">7 LED (wide spectrum)</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Audible Alerts</td>
          <td class="table--specs__cell table--specs__detail">SF300: Yes.   SF64: No</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Night Vision Illumination</td>
          <td class="table--specs__cell table--specs__detail">8 high-lumen infrared LED lights</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Manual Record Buttons</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Industrial-grade Hardware</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Limited Warranty</td>
          <td class="table--specs__cell table--specs__detail">2 Years</td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Power</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Battery</td>
          <td class="table--specs__cell table--specs__detail">SF300: Rechargeable<br>
            SF64: Non-rechargeab</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Standard Input Voltage</td>
          <td class="table--specs__cell table--specs__detail">12V or 24V</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Power Input</td>
          <td class="table--specs__cell table--specs__detail">Molex</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Current Draw (12V)<br>
            Ignition On (cellular)<br><ul class="list--unordered"><li>Not Transmitting</li></ul></td>
          <td class="table--specs__cell table--specs__detail">SF300: 320 mA<br>
            SF64: 228 mA</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Current Draw (12V)<br>
            Ignition On (cellular)<br><ul class="list--unordered"><li> Transmitting</li></ul></td>
          <td class="table--specs__cell table--specs__detail">SF300: 540 mA<br>
            SF64: 438 mA</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Current Draw</td>
          <td class="table--specs__cell table--specs__detail">20 mA</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Deep Sleep</td>
          <td class="table--specs__cell table--specs__detail">1 mA</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Power Loss Operation</td>
          <td class="table--specs__cell table--specs__detail">Finish recording event</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Disconnect Reporting</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Hibernation</td>
          <td class="table--specs__cell table--specs__detail">Default: 15 Min; Max: 60 hr</td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Internal</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Processor</td>
          <td class="table--specs__cell table--specs__detail">Dual-core 1GHz</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Internal Memory</td>
          <td class="table--specs__cell table--specs__detail">SF300: 80 GB SF64: 64 GB</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Memory Format</td>
          <td class="table--specs__cell table--specs__detail">eMMC</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Expandable/External Memory</td>
          <td class="table--specs__cell table--specs__detail">SF300: Expandable to 208 GB<br>SF64: No</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Motion Sensors</td>
          <td class="table--specs__cell table--specs__detail"><ul class="list--unordered"><li>9-axis (Accelerometer + Gyro + Magnetometer)</li><li>Built-in G-Force and motion sensor</li><li>Built-in GPS</li></ul></td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Installation</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Trigger In</td>
          <td class="table--specs__cell table--specs__detail">Qty 4</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Trigger Out</td>
          <td class="table--specs__cell table--specs__detail">Qty 1</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">ECM / ECU Integration</td>
          <td class="table--specs__cell table--specs__detail">J1939 (250/500 kbps)</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Recommended Mounting Location</td>
          <td class="table--specs__cell table--specs__detail">Windshield Bulkhead</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Installation Services Available</td>
          <td class="table--specs__cell table--specs__detail">Lytx Professional Installation Services<br>
            Client-managed Installation Support</td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Recording</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Wide Angle Lens / Field of View</td>
          <td class="table--specs__cell table--specs__detail">131° interior; 82° exterior</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Video Recording Resolution</td>
          <td class="table--specs__cell table--specs__detail">752 x 548 [1280x800]</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Frame Rate</td>
          <td class="table--specs__cell table--specs__detail">10 fps</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Configurable View Options</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Included Accessories</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">The purchase of a DriveCam Event Recorder includes:</td>
          <td class="table--specs__cell table--specs__detail">
              <ul class="list--unordered">
                <li>Cables for Standard Installation (power cable, vehicle interface cable)</li>
                <li>Mounting Bracket with Screws</li>
                <li>Security Retention Clip</li>
                <li>Informational Guide</li>
              </ul></td>
        </tr>
  </table>
  <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Connectivity</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Cellular</td>
          <td class="table--specs__cell table--specs__detail">NORTH AMERICA<br>
            SF300: 4G LTE (3Gfallback), SF64: 4G LTE (3Gfallback)<br><br>
            WESTERN EUROPE (UK)<br>
            SF300: N/A, SF64: 4G LTE (3Gfallback)<br><br>
            REST OF WORLD (SA/AU/NZ)<br>
            SF300: N/A, SF64: 3G/2G</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Wi-Fi via Hotspot</td>
          <td class="table--specs__cell table--specs__detail">SF300: Dual-band Wi-Fi b/g/n/ac<br>SF64: N/A</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Bluetooth Connectivity</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Ethernet</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
  </table>

    </section>

<div  class="media media--3-2 media--align-top media--justify-default spec-sheet__media-obj">
    
<div  class="media__body media__body--3-2 rhythm">
          <h3 class="heading heading--h2">
          Accessories
        </h3>

<ul  class="list list--unordered">
            <li>Security Cover - Covers both lenses (OPT-PER-0501)</li>
          <li>Driver Privacy Cover - Covers inside lens (OPT-PER-0504)</li>
          <li>Remote Push Button Kit (PER-CAT-0063)</li>
          <li>Lytx Hub Adapter Kit (PER-CAT-0524)</li>

</ul>

        <p class="text--small">
          DISCLAIMER: Lytx® event recorders are intended as a driver aid only and are not a substitute for a safe, conscientious driver. Lytx event recorders cannot compensate for a driver that is distracted, inattentive, or impaired by fatigue, drugs, or alcohol. It is always the responsibility of the driver to take appropriate corrective action. Never wait for the Lytx event recorder to provide a warning before taking measures to avoid an accident. Failure to do so can result in serious personal injury or death, or severe property damage.
        </p>

</div>

<div  class="media__figure media__figure--top spec-sheet__media-obj">
          <img srcset="../../images/sf-series-diagrams.png, ../../images/sf-series-diagrams@2x.png 2x" src="../../images/sf-series-diagrams.png" alt="diagram of lytx event recorder">

</div>

</div>
  </div>
</details>

