

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--extra-large">
    <div  class="media extra-large media--split-bordered media--align-top media--justify-default">
    <div  class="media__figure media__figure--top has--no-img">
  <figure class="feature rhythm">

  <figcaption class="feature__content rhythm">
    <div>
        <h2  class="heading heading--h2">
  Equal Opportunity Employer
</h2>

    </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sed tempore optio debitis soluta sequi corporis, sint ut? Saepe veritatis quas recusandae rerum commodi aspernatur voluptatibus porro soluta ipsam expedita.</p>
  </figcaption>
</figure>

</div>

<div  class="media__figure media__figure--top has--no-img">
  <figure class="feature rhythm">

  <figcaption class="feature__content rhythm">
    <div>
        <h2  class="heading heading--h2">
  Search Firms and Staffing Agencies
</h2>

    </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sed tempore optio debitis soluta sequi corporis, sint ut? Saepe veritatis quas recusandae rerum commodi aspernatur voluptatibus porro soluta ipsam expedita.</p>
  </figcaption>
</figure>

</div>

</div>

  </div>
</section>

