

<section
   class="layout--full-width bg--action statistics"
  style="background-image:url(../../images/logo-dashes.svg);"
  
>
  <div  class="wrapper rhythm--small">
    
  <div>
<h1  class="heading heading--h1 color--white text--align-center">
        We deliver the results fleets need.

</h1>
    <p class="color--white text--align-center">Just ask the 99% of our clients that renew each year.</p>
  </div>

  <div class="layout--stats">
    <div class="stat">
  <figure class="stat__figure">
    <div class="stat__number">50%</div>
    <figcaption class="stat__desc">Up to 50% reduction in collision frequency</figcaption>
  </figure>
</div>

    <div class="stat">
  <figure class="stat__figure">
    <div class="stat__number">80%</div>
    <figcaption class="stat__desc">Up to 80% reduction in
claims costs</figcaption>
  </figure>
</div>

    <div class="stat">
  <figure class="stat__figure">
    <div class="stat__number">850k+</div>
    <figcaption class="stat__desc">Over 850,000 drivers
protected worldwide</figcaption>
  </figure>
</div>

  </div>

  </div>
</section>

