

<section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--default">
      <section
     class="layout--full-width bg--white"
    
    
  >
    <div  class="wrapper rhythm--extra-large">
      
  <div  class="media extra-large media--split-bordered media--align-center media--justify-default">
      <div  class="media__figure media__figure--center">
    <figure class="feature rhythm">
      <img src="//fpoimg.com/460x258" alt="lorem ipsum">
  
    <figcaption class="feature__content rhythm">
      <div>
          <h2  class="heading heading--h2">
    Driver Safety Training
  </h2>
  
      </div>
        <p>Get the most from your Lytx Driver Safety program with multiple training options to meet your needs.</p>
        <br>
        <a href="#" class="button button--primary button--size-default">Safety Training</a>
    </figcaption>
  </figure>
  
  </div>
  
  <div  class="media__figure media__figure--center">
    <figure class="feature rhythm">
      <img src="//fpoimg.com/460x258" alt="lorem ipsum">
  
    <figcaption class="feature__content rhythm">
      <div>
          <h2  class="heading heading--h2">
    RAIR training
  </h2>
  
      </div>
        <p>Easily train your drivers about compliance requirements by assigning and tracking online training modules.</p>
        <br>
        <a href="#" class="button button--primary button--size-default">RAIR training</a>
    </figcaption>
  </figure>
  
  </div>
  
  </div>
  
    </div>
  </section>

  </div>
</section>

