

<!-- Start: @tab--example -->
<div
   class="tab"
>
  <input
    class="tab__input a11y a11y-visually-hidden"
    type="radio"
    name=""
    id="tab-1-control"
    checked
  >

  <div class="tab__item" aria-labelledby="tab-1-control">
    <label class="tab__label" for="tab-1-control">
      <span class="tab__title">
        Tab label
      </span>
    </label>
  </div> <!--/ tab__item -->
  <div class="tab__content rich-text" role="region" id="panel--tab-1-control">
      <p>Lorem ipsem</p>

  </div> <!--/ tab__content.rich-text -->
</div> <!--/ tab -->
<!-- End: @tab--example -->

