

<section class="layout--full-width bg--white">
  <div class="wrapper rhythm rhythm--large">
    <div class="rhythm text--align-center">
      <h1  class="heading heading--h1 heading--h1-lg">
  Meet our team
</h1>

      <p>Everything we do is made possible by the amazing people who make up our team. Here’s what they have to say. </p>
    </div>
<div
   class="tabs tabs--team-tabs"
  role="tabslist"
>
  <div
   class="tab tabs--team-tabs"
>
  <input
    class="tab__input a11y a11y-visually-hidden"
    type="radio"
    name="teamTabs"
    id="tab-0-control"
    checked
  >

  <div class="tab__item" aria-labelledby="tab-0-control">
    <label class="tab__label" for="tab-0-control">
        <img class="tab__image" src="//fpoimg.com/160x160" alt="May Elhattab">
      <span class="tab__title">
        May Elhattab
      </span>
        <span class="tab__sub-title">
          Senior Client Solutions Conultant
        </span>
    </label>
  </div> <!--/ tab__item -->
  <div class="tab__content rich-text" role="region" id="panel--tab-0-control">
    
<div  class="media media--split media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
                <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
              <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
              <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

</div>

<div  class="media__body media__body--split">
                <figure class="blockquote blockquote--pullout rhythm--large">
                <div class="blockquote__quote">
                  <p>My suggestion to someone looking to purchase? I can sum it up in one word: Priceless.</p>
                </div>
                <figcaption class="blockquote__citation">
                  <h4 class="heading heading--h4 blockquote__name">DENNIS DELLINGER</h4>
                  <p class="text--small blockquote__title">May Elhattab</p>
                </figcaption>
              </figure>
              <p class="text--small">May operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. She also trains clients on Lytx programs.</p>

</div>

</div>


  </div> <!--/ tab__content.rich-text -->
</div> <!--/ tab -->

<div
   class="tab tabs--team-tabs"
>
  <input
    class="tab__input a11y a11y-visually-hidden"
    type="radio"
    name="teamTabs"
    id="tab-1-control"
    
  >

  <div class="tab__item" aria-labelledby="tab-1-control">
    <label class="tab__label" for="tab-1-control">
        <img class="tab__image" src="//fpoimg.com/160x160" alt="Farbod Pourvash">
      <span class="tab__title">
        Farbod Pourvash
      </span>
        <span class="tab__sub-title">
          Software Engineer
        </span>
    </label>
  </div> <!--/ tab__item -->
  <div class="tab__content rich-text" role="region" id="panel--tab-1-control">
    
<div  class="media media--split media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
                <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
              <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
              <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

</div>

<div  class="media__body media__body--split">
                <figure class="blockquote blockquote--pullout rhythm--large">
                <div class="blockquote__quote">
                  <p>My suggestion to someone looking to purchase? I can sum it up in one word: Priceless.</p>
                </div>
                <figcaption class="blockquote__citation">
                  <h4 class="heading heading--h4 blockquote__name">DENNIS DELLINGER</h4>
                  <p class="text--small blockquote__title">Farbod Pourvash</p>
                </figcaption>
              </figure>
              <p class="text--small">Farbod operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>

</div>

</div>


  </div> <!--/ tab__content.rich-text -->
</div> <!--/ tab -->

<div
   class="tab tabs--team-tabs"
>
  <input
    class="tab__input a11y a11y-visually-hidden"
    type="radio"
    name="teamTabs"
    id="tab-2-control"
    
  >

  <div class="tab__item" aria-labelledby="tab-2-control">
    <label class="tab__label" for="tab-2-control">
        <img class="tab__image" src="//fpoimg.com/160x160" alt="Brandon Nixon">
      <span class="tab__title">
        Brandon Nixon
      </span>
        <span class="tab__sub-title">
          Chairman &amp; CEO
        </span>
    </label>
  </div> <!--/ tab__item -->
  <div class="tab__content rich-text" role="region" id="panel--tab-2-control">
    
<div  class="media media--split media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
                <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
              <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
              <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

</div>

<div  class="media__body media__body--split">
                <figure class="blockquote blockquote--pullout rhythm--large">
                <div class="blockquote__quote">
                  <p>My suggestion to someone looking to purchase? I can sum it up in one word: Priceless.</p>
                </div>
                <figcaption class="blockquote__citation">
                  <h4 class="heading heading--h4 blockquote__name">DENNIS DELLINGER</h4>
                  <p class="text--small blockquote__title">Brandon Nixon</p>
                </figcaption>
              </figure>
              <p class="text--small">Brandon operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>

</div>

</div>


  </div> <!--/ tab__content.rich-text -->
</div> <!--/ tab -->

<div
   class="tab tabs--team-tabs"
>
  <input
    class="tab__input a11y a11y-visually-hidden"
    type="radio"
    name="teamTabs"
    id="tab-3-control"
    
  >

  <div class="tab__item" aria-labelledby="tab-3-control">
    <label class="tab__label" for="tab-3-control">
        <img class="tab__image" src="//fpoimg.com/160x160" alt="Jim Rice">
      <span class="tab__title">
        Jim Rice
      </span>
        <span class="tab__sub-title">
          Commercial Leader
        </span>
    </label>
  </div> <!--/ tab__item -->
  <div class="tab__content rich-text" role="region" id="panel--tab-3-control">
    
<div  class="media media--split media--align-center media--justify-default">
    <div  class="media__figure media__figure--center">
                <div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
              <script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
              <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

</div>

<div  class="media__body media__body--split">
                <figure class="blockquote blockquote--pullout rhythm--large">
                <div class="blockquote__quote">
                  <p>My suggestion to someone looking to purchase? I can sum it up in one word: Priceless.</p>
                </div>
                <figcaption class="blockquote__citation">
                  <h4 class="heading heading--h4 blockquote__name">DENNIS DELLINGER</h4>
                  <p class="text--small blockquote__title">Jim Rice</p>
                </figcaption>
              </figure>
              <p class="text--small">Jim operates as part of the Implementation Team, working to onboard new clients and manage relationships after the sale. He also trains clients on Lytx programs.</p>

</div>

</div>


  </div> <!--/ tab__content.rich-text -->
</div> <!--/ tab -->

</div><!--/ tab -->
  </div><!--/ wrapper -->
</section>

