

<section
   class="layout--full-width bg--white flush-top"
  
  
>
  <div  class="wrapper--small rhythm--default">
    <div  class="media media--1-2 media--align-center media--justify-default media--flip-small media--flushed">
    <div  class="media__body media__body--1-2 rhythm">
  <h4  class="heading heading--h4">
          FEATURED CUSTOMER

</h4>

<h2  class="heading heading--h2">
          Doug Hager American Central Transport (ACT)

</h2>

      <p>
        Doug Hager is a shining star among drivers who hasn’t had to be coached on a single DriveCam event since he joined ACT more than two years ago. In fact, he is the only driver at his organization to go two consecutive years and 258,000 miles without a coachable event.
      </p>

      <p>
        “I view other drivers like they’re my own family, and that inspires me to drive more carefully.”
      </p>

      <p>
<a href="#"  class="button button--link button--1-2 button--size-default" >
            Read more

</a>
      </p>

</div>

<div  class="media__figure media__figure--center text--align-right">
        <img srcset="//fpoimg.com/625x400, //fpoimg.com/1250x800 2x" src="//fpoimg.com/625x400" alt="lorem ipsum">

</div>

</div>

  </div>
</section>

