<div class="page-head-interior rhythm--small">
  {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Our Team{{/@heading}}
  {{#>@heading variant="h1" className="page-head-interior__title"}}We’re focused on ensuring your success{{/@heading}}
</div>
