<div class="page-head-interior rhythm--small">
  {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Press release{{/@heading}}
  {{#>@heading variant="h1" className="page-head-interior__title"}}Lauren Concrete introduces Lytx driver safety program to full fleet via company-wide town hall events.{{/@heading}}
</div>
