.page-head-interior {
  padding: 2rem 1rem;
  text-align: center;

  &__title {
    max-width: 940px;
  }

  &__subtitle {
    font-size: 14px !important;
    letter-spacing: 1px;

    &::after {
      background-color: var(--color-blue);
      content: '';
      display: block;
      height: 1px;
      margin: 1rem auto;
      max-width: 260px;
    }

    @media (--medium) {
      text-align: center;
    }
  }

  &__tagline {
    font-weight: var(--font-weight--bold);
  }

  & .button {
    margin-top: 3rem;
  }
}
