<div class="wrapper page-head-interior page-head-interior--case-study">
  <div class="layout layout--case-study">
    <div class="case-study-heading">
      {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Lorem Ipsum{{/@heading}}
      {{#>@heading variant="h1" className="page-head-interior__title"}}Cargo Transporters reduces fraudulant claims costs with the Lytx Driver Safety Program.{{/@heading}}
    </div><!--/ case-study-heading -->
    <div class="case-study-stats">
      <div class="case-study-stats__stat">
        {{#>@heading variant="h1"}}83%{{/@heading}}
        <strong>Decrease in near collisions</strong>
      </div>
      <div class="case-study-stats__stat">
        {{#>@heading variant="h1"}}26%{{/@heading}}
        <strong>Improvement in safe following distances</strong>
      </div>
      <div class="case-study-stats__stat">
        {{#>@heading variant="h1"}}33%{{/@heading}}
        <strong>Drop in unbelted drivers</strong>
      </div>
    </div><!--/ case-study-stats -->
  </div><!--/ __ layout -->
</div><!--/ --case-study -->
