<div class="page-head-interior rhythm--small">
  {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Lorem Ipsum{{/@heading}}
  {{#>@heading variant="h1" className="page-head-interior__title"}}Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{{/@heading}}
  <p class="page-head-interior__tagline">Duis aute, irure dolor, in reprehenderit, in voluptate velit esse cillum.</p>
</div>
