<div class="page-head-interior rhythm--small">
  {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Lytx Careers{{/@heading}}
  {{#>@heading variant="h1" className="page-head-interior__title"}}Be part of something good{{/@heading}}

  {{#>@button href="#" variant="primary"}}see career opportunities{{/@button}}
</div>
