<div class="page-head-interior rhythm--small">
  {{#>@heading variant="h4" className="page-head-interior__subtitle"}}Success Stories{{/@heading}}
  {{#>@heading variant="h1" className="page-head-interior__title"}}When you succeed, so do we. {{/@heading}}
  <p class="page-head-interior__tagline">Lytx helps protect more than 3,000 clients and one million drivers globally.</p>
</div>