<div class="video-wrapper wistia_embed wistia_async_8r07a4ameg popover=true popoverAnimateThumbnail=false">&nbsp;</div>
<script src="https://fast.wistia.com/embed/medias/8r07a4ameg.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
