
<div class="event rhythm--large">
  <div class="event__heading">
    {{#>@heading variant="h2"}}2019 NAFA Institute &amp; Expo{{/@heading}}
  </div>
  <div class="event__date rhythm">
    <p><strong>Apr 13 - Apr 18, 2019</strong></p>
    <p><a href="#">Add to calendar</a></p>
  </div>
  <div class="event__location rhythm">
    <p><strong>Kentucky Internation Convention<br>Booth # 1004</strong></p>
    <p><a href="#">221 S 4th St, Louisville, KY 40202</a></p>
  </div>
  <div class="event__share">
    <a href="#">www.nafainstitute.org</a>
  </div>
  <div class="event__details rich-text rhythm--large">
    <p>Team Lytx is gearing up for the world's largest fleet management event this spring.</p>
    <p><a href="#">NAFA's 2019 Institute and Expo</a> offers over 40 sessions over a 3-day learning experience to keep professionals in-the-know on critical fleet management issues impacting the industry.</p>
    <p>Interested in meeting with us at NAFA 2019? Schedule your personalized demo to discuss with a Lytx specialist about how video telematics can help improve your fleet's safety and bottom line. Otherwise, come see us at booth 1004. </p>
    <p>See you in Louisville!</p>
  </div>
  <div class="event__logo">
    <img src="../../images/NAFA2019-Logo.jpg" height="99" width="339" alt="lorem ipsum">
  </div>
</div>
