

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <div class="wheel-box bg--gray-0 wheel-swatch">Grayscale 1</div>
<div class="wheel-box bg--gray-1 wheel-swatch">Grayscale 2</div>
<div class="wheel-box bg--gray-2 wheel-swatch">Grayscale 3</div>
<div class="wheel-box bg--gray-3 wheel-swatch">Grayscale 4</div>
<div class="wheel-box bg--gray-4 wheel-swatch wheel-swatch--rev">Grayscale 5</div>
<div class="wheel-box bg--white wheel-swatch wheel-swatch--rev">White</div>
<div class="wheel-box bg--dark-purple wheel-swatch">Primary Dark</div>
<div class="wheel-box bg--blue wheel-swatch">Primary Blue</div>
<div class="wheel-box bg--turquoise wheel-swatch">Turquoise</div>
<div class="wheel-box bg--green wheel-swatch">Green</div>
<div class="wheel-box bg--terra-cotta wheel-swatch">Terra Cotta</div>
<div class="wheel-box bg--blue-alt wheel-swatch">Blue</div>
<div class="wheel-box bg--orange wheel-swatch">Orange</div>
<div class="wheel-box bg--purple wheel-swatch">Purple</div>
<div class="wheel-box bg--text wheel-swatch">Text</div>
<div class="wheel-box bg--action wheel-swatch">Action (links, etc)</div>
<div class="wheel-box bg--dark wheel-swatch">Dark (Primary Dark)</div>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

