

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <div class="benefits-box">
  <div class="benefits-box__header benefits-box__header--green">
    <div class="benefits-box__number">1</div> 
    <div class="benefits-box__heading">Operational Benefits</div>
  </div>

  <div class="benefits-box__body rich-text rhythm">
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      	<li>Fuel management and reporting</li>
        <li>Vehicle maintenance</li>
        <li>Delivery tracking</li>
        <li>Route optimization</li>
        <li>Route optimization</li>
        <li>Route optimization</li>
        <li>Cargo integrity and tracking</li>
        <li>Real-time fleet tracking</li>
        <li>Customer satisfaction through faster response</li>
        <li>Driver exoneration</li>
    </ul>
  </div>
  <div class="benefits-box__usecase rich-text rhythm">
    <h4  class="heading heading--h4">
  Use case:
</h4>

    <p><a href="#"><strong>Descrescente Distributing Co.</strong></a> used telematics to exonerate drivers after collisions, saving them hundreds of thousands of dollars in legal fees. The company also significantly reduced maintenance costs by coaching drivers on ways to avoid aggressive driving, which accelerates wear and tear on vehicles.</p>
  </div>
</div>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

