

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <a href="#"  class="button button--link button--primary button--size-default button--icon" >
  Start Now
  <svg  viewBox="0 0 23 19" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.347 8.249l-7-7.525a1.605 1.605 0 00-2.365 0c-.645.693-.645 1.849 0 2.542l4.133 4.47H1.823c-.931 0-1.672.796-1.672 1.797s.741 1.798 1.672 1.798h15.292l-4.134 4.443c-.645.693-.645 1.849 0 2.542.334.36.764.54 1.195.54.43 0 .86-.18 1.194-.54l6.977-7.499a1.9 1.9 0 00.502-1.284c0-.488-.167-.95-.502-1.284z"/>
  </svg>
</a>


    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

