

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <section
   class="layout--full-width bg--text cs--filterable js-cs--filterable"
  
  id="cs--featured"
>
  <div  class="wrapper rhythm--large">
    
<div  class="media large media--2-1 media--align-top media--justify-default media--flip-small media--flip-large">
    <div  class="media__figure media__figure--top text--align-left">
        <div class="layout">
        <figure class="card--cs" data-cs-vehicle="construction">
          <img srcset="../../images/vehicle-construction.png, ../../images/vehicle-construction@2x.png 2x" src="../../images/vehicle-construction.png" alt="NFI logo">
        </figure>

        <figure class="card--cs" data-cs-vehicle="solidwaste">
          <img srcset="../../images/vehicle-solid-waste.png, ../../images/vehicle-solid-waste@2x.png 2x" src="../../images/vehicle-solid-waste.png" alt="NFI logo">
        </figure>

        <figure class="card--cs" data-cs-vehicle="transit">
          <img srcset="../../images/vehicle-transit.png, ../../images/vehicle-transit@2x.png 2x" src="../../images/vehicle-transit.png" alt="NFI logo">
        </figure>

        <figure class="card--cs" data-cs-vehicle="trucking">
          <img srcset="../../images/vehicle-trucking.png, ../../images/vehicle-trucking@2x.png 2x" src="../../images/vehicle-trucking.png" alt="NFI logo">
        </figure>
      </div>

</div>

<div  class="media__body media__body--2-1 rhythm--large">
  <h3  class="heading heading--h3 color--white">
          Capture the story from all angles with side and back-up cameras

</h3>

      <p class="color--white">To manage all aspects of safety and security, you need to see from every angle. Adding side and rear cameras and connecting them with the Lytx Hub™ Adapter means you’ll be able to verify workers compensation claims, reconstruct mystery damage, help your drivers avoid injury, and reconstruct all types of collision claims, including rear-end and sideswipe incidents. </p>

       <div class="form-wrapper form--inline js-form--filters">
         <fieldset class="rhythm--small">
          <label for="filter--vehicle" class="color--white">Learn how multiple views can support your industry</label>
          <div class="input--select transparent">
            <select class="transparent bg--text" id="filter--vehicle" name="filter--vehicle">
              <option value="Construction">Construction</option>
              <option value="SolidWaste">Solid Waste</option>
              <option value="Transit">Transit</option>
              <option selected value="Trucking">Trucking</option>
            </select>
          </div>
        </fieldset>
      </div>

</div>

</div>

  </div>
</section>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

