

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg width="43" height="33" xmlns="http://www.w3.org/2000/svg"><path d="M15.565 22.103l-9.748-9.757a.847.847 0 0 0-1.2 0L.25 16.776a.865.865 0 0 0 0 1.215c4.917 4.921 9.827 9.843 14.743 14.758a.849.849 0 0 0 1.206 0L42.756 5.862a.871.871 0 0 0-.006-1.215L38.354.25a.849.849 0 0 0-1.206 0L15.567 22.106l-.002-.003z" fill="#84BD00" fill-rule="nonzero" opacity=".784"/></svg>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

