

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <div class="color--gray-0 text--upper">Grayscale 1</div>
<div class="color--gray-1 text--upper">Grayscale 2</div>
<div class="color--gray-2 text--upper">Grayscale 3</div>
<div class="color--gray-3 text--upper">Grayscale 4</div>
<div class="color--gray-4 text--upper--rev">Grayscale 5</div>
<div class="color--white text--upper--rev">White</div>
<div class="color--dark-purple text--upper">Primary Dark</div>
<div class="color--blue text--upper">Primary Blue</div>
<div class="color--turquoise text--upper">Turquoise</div>
<div class="color--green text--upper">Green</div>
<div class="color--terra-cotta text--upper">Terra Cotta</div>
<div class="color--blue-alt text--upper">Blue</div>
<div class="color--orange text--upper">Orange</div>
<div class="color--purple text--upper">Purple</div>
<div class="color--text text--upper">Text</div>
<div class="color--action text--upper">Action (links, etc)</div>
<div class="color--dark text--upper">Dark (Primary Dark)</div>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

