

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <section
   class="layout--full-width bg--white connected-drawer"
  
  id="connected-drawer"
>
  <div  class="wrapper rhythm--extra-large">
      <div class="connected-drawer__bg">
    <button type="button" class="connected-drawer__btn" data-target-id="connected-drawer__drawer">
<h4  class="heading heading--h4 connected-drawer__heading">
          <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"  class="social-icon connected-drawer__icon-linkedin"><g transform="rotate(90 24 25)" fill="none" fill-rule="evenodd"><circle stroke="#E8E9EB" fill="#F7F8F8" cx="24" cy="24" r="24"/><path d="M30.706 17.805v2.818h-4.278c-1.02 0-2.332.019-2.332 1.465 0 1.467 1.112 1.69 2.26 1.69h4.35v2.816H21.91v-2.702h1.203v-.039c-.692-.375-1.421-1.296-1.421-2.667 0-2.853 1.821-3.38 4.19-3.38h4.824zm-9.998 11.967c0 .906-.71 1.635-1.585 1.635s-1.586-.73-1.586-1.635c0-.901.71-1.633 1.586-1.633.875 0 1.585.732 1.585 1.633zm9.998 1.412v-2.822H21.91v2.822h8.796zM15 16.4v16.197c0 .773.595 1.402 1.33 1.402h15.772c.734 0 1.33-.629 1.33-1.402V16.4c0-.775-.596-1.405-1.33-1.405H16.329c-.734 0-1.329.63-1.329 1.405z" fill="#415365"/></g></svg>
        see how you're connected
        <svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"  class="icon--arrow-down connected-drawer__icon-down">
  <path d="M.705.705a.998.998 0 011.41 0L6 4.58 9.884.704a.998.998 0 011.411 1.411L6 7.41.705 2.115a.997.997 0 010-1.41z" fill="#415365" fill-rule="evenodd"/>
</svg>


</h4>
    </button>
  </div>

  <div id="connected-drawer__drawer" class="connected-drawer__drawer rhythm">
    <h2 class="heading heading--h2">LINKEDIN WIDGET GOES HERE!</h2>
    <img src="https://bukk.it/janet-thumbs.gif" alt"hello!" >
  </div>


  </div>
</section>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

