

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" class="social-icon"><g transform="rotate(90 24 25)" fill="none" fill-rule="evenodd"><circle stroke="#E8E9EB" fill="#F7F8F8" cx="24" cy="24" r="24"/><path d="M15 15.555v16.426c0 .563.455 1.019 1.017 1.019h16.39c.562 0 1.018-.456 1.018-1.019v-8.843H26.29v2.406h-2.781v-2.406h-2.05c-2.38 0-3.676-1.457-3.676-3.584 0-1.02.075-1.895.11-2.15h2.486l.001 1.475c0 1.157.549 1.381 1.354 1.381h1.775V17.5l2.78.36v2.4h7.136v-4.705a1.02 1.02 0 00-1.017-1.02H16.017c-.562 0-1.017.457-1.017 1.02" fill="#415365"/></g></svg>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

