

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg width="19" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M17.445.121H1.019C.456.121 0 .576 0 1.138v16.39c0 .562.456 1.018 1.019 1.018h8.843V11.41H7.456V8.63h2.406V6.58c0-2.38 1.457-3.676 3.584-3.676 1.02 0 1.895.075 2.15.11V5.5l-1.475.001c-1.157 0-1.381.549-1.381 1.354V8.63h2.76l-.36 2.78h-2.4v7.136h4.705c.563 0 1.02-.456 1.02-1.017V1.138c0-.562-.457-1.017-1.02-1.017" fill="#415365" fill-rule="evenodd"/></svg>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

