

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <section
   class="layout--full-width bg--white featured-resource bg--gradient-gray is-condensed"
  
  id="featured-resource"
>
  <div  class="wrapper rhythm--large">
    
<div  class="media large media--featured-resource media--align-bottom media--justify-space-evenly media--flip-large">
    <div  class="media__figure media__figure--bottom">
        <figure>
        <img srcset="../../images/coaching.jpg, ../../images/coaching@2x.jpg 2x" src="../../images/coaching.jpg" alt="">
        <img class="featured-resource__cover" srcset="../../images/analytical-resource.jpg, ../../images/analytical-resource@2x.jpg 2x" src="../../images/analytical-resource.jpg" alt="">
      </figure>

</div>

<div  class="media__body media__body--featured-resource rhythm media__body--padded">
        <h4 class="heading heading--h4">
        FEATURED RESOURCE
      </h4>
      <h3 class="heading heading--h3">
        Analytical Insights & Industry News
      </h3>
      <p>
        Best Fleet Forward keeps you informed with the latest innovations from Lytx®, along with sharing how fleets are seeing success with the DriveCam® safety program.
      </p>
      <a href="#" class="button button--primary">
        Get my copy
      </a>

</div>

</div>

  </div>
</section>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

