

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
          <div class="rhythm--large modal__trigger--wrapper">
  <button data-a11y-dialog-show="xyz-modal" class="button modal__trigger modal__trigger--leadership button--primary">
      <div class="text--align-center rhythm--large">
          <img class="img--round modal__trigger--leadership-img" srcset="//fpoimg.com/210x210, //fpoimg.com/420x420 2x" src="//fpoimg.com/210x210" alt="">

          <div>
<h4  class="heading heading--h4 leadership-modal">
                    Brendan Nixon

</h4>
              <p class="modal__trigger--leadership-title">
                Chairman &amp; CEO
              </p>
          </div>
      </div>
  </button>

  <div  class="social-footer-links text--align-center">
      <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">LinkedIn</span><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M16.909 16.56H14.09v-4.277c0-1.02-.019-2.332-1.465-2.332-1.467 0-1.69 1.111-1.69 2.26v4.35H8.12V7.764h2.702v1.203h.038c.376-.692 1.296-1.42 2.668-1.42 2.853 0 3.38 1.82 3.38 4.19v4.824zM4.94 6.564c-.905 0-1.635-.71-1.635-1.586 0-.875.73-1.585 1.635-1.585.902 0 1.634.71 1.634 1.585 0 .876-.732 1.586-1.634 1.586zm-1.41 9.998h2.82V7.764h-2.82v8.797zM18.311.854H2.116c-.773 0-1.402.595-1.402 1.33v15.772c0 .734.629 1.33 1.402 1.33h16.196c.776 0 1.406-.596 1.406-1.33V2.184c0-.735-.63-1.33-1.406-1.33z" fill="#415365" fill-rule="evenodd"/></svg></a>
      <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">Twitter</span><svg width="24" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M23.182 2.174a9.305 9.305 0 01-2.669.73A4.652 4.652 0 0022.556.339a9.316 9.316 0 01-2.95 1.125A4.645 4.645 0 0016.215 0a4.641 4.641 0 00-4.526 5.692A13.2 13.2 0 012.113.85a4.631 4.631 0 001.438 6.19 4.635 4.635 0 01-2.105-.58v.057a4.641 4.641 0 003.727 4.546 4.662 4.662 0 01-2.098.08 4.65 4.65 0 004.34 3.22 9.335 9.335 0 01-5.77 1.984 9.47 9.47 0 01-1.109-.065 13.17 13.17 0 007.122 2.083c8.546 0 13.219-7.064 13.219-13.19 0-.201-.005-.401-.014-.6a9.432 9.432 0 002.319-2.4" fill="#415365" fill-rule="evenodd"/></svg></a>
  </div>
</div>


<div  class="modal leadership-modal" id=xyz-modal>

  <div class="modal__overlay" tabindex="-1" data-a11y-dialog-hide="true"></div>


  <div role="dialog" class="modal__content" aria-labelledby=leadership-modal-heading aria-describedby=leadership-modal-content>
    <div class="modal__inner rhythm--large">
      <button data-a11y-dialog-hide class="modal__close" aria-label="Close this dialog window">&times;</button>



      <div class="modal__inner-content" id=leadership-modal-content>
         
<div  class="media media--default media--align-center media--justify-default media--no-stack leadership-modal__head">
    <div  class="media__figure media__figure--center leadership-modal__figure">
        <img class="img--round" srcset="//fpoimg.com/105x105, //fpoimg.com/210x210 2x" src="//fpoimg.com/105x105" alt="">

</div>

<div  class="media__body media__body--default leadership-modal__head">
  <h3  class="heading heading--h3 leadership-modal">
          Brandon Nixon

</h3>
      <p>
        Chairman &amp; CEO
      </p>

</div>

</div>

  <div class="leadership-modal__bio bg--gray-1 color--white rte rhythm">
    <p>
      Brandon has served as Lytx CEO for 11 years, championing the company’s commitment to saving lives and leading the Lytx team to unprecedented success: 65% market share, a best-in-class product portfolio and unrivaled innovation. In 2018, Lytx helped 3,000 clients keep their 850,000 drivers and more than 500,000 vehicles safe and their businesses productive, efficient and profitable.
    <p>

    <p>
      Brandon joined Lytx from ViaSat, where he was responsible for the company's commercial business. Prior to ViaSat, he was CEO of Enerdyne Technologies and spent nearly two decades in a variety of executive roles at Hewlett Packard, Texas Instruments, PCSI/Cirrus Logic, SAIC, and private equity firm, Housatonic Partners, where he founded the firm's communications practice.
    </p>

    <p>
      Brandon holds a B.S. degree in Computer Engineering from University of California, San Diego and an MBA from the Stanford Graduate School of Business.
    </p>

    <div  class="social-footer-links">
        <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">LinkedIn</span><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M16.909 16.56H14.09v-4.277c0-1.02-.019-2.332-1.465-2.332-1.467 0-1.69 1.111-1.69 2.26v4.35H8.12V7.764h2.702v1.203h.038c.376-.692 1.296-1.42 2.668-1.42 2.853 0 3.38 1.82 3.38 4.19v4.824zM4.94 6.564c-.905 0-1.635-.71-1.635-1.586 0-.875.73-1.585 1.635-1.585.902 0 1.634.71 1.634 1.585 0 .876-.732 1.586-1.634 1.586zm-1.41 9.998h2.82V7.764h-2.82v8.797zM18.311.854H2.116c-.773 0-1.402.595-1.402 1.33v15.772c0 .734.629 1.33 1.402 1.33h16.196c.776 0 1.406-.596 1.406-1.33V2.184c0-.735-.63-1.33-1.406-1.33z" fill="#415365" fill-rule="evenodd"/></svg></a>
        <a href="#" class="social-footer__share-link"><span class="a11y-visually-hidden">Twitter</span><svg width="24" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M23.182 2.174a9.305 9.305 0 01-2.669.73A4.652 4.652 0 0022.556.339a9.316 9.316 0 01-2.95 1.125A4.645 4.645 0 0016.215 0a4.641 4.641 0 00-4.526 5.692A13.2 13.2 0 012.113.85a4.631 4.631 0 001.438 6.19 4.635 4.635 0 01-2.105-.58v.057a4.641 4.641 0 003.727 4.546 4.662 4.662 0 01-2.098.08 4.65 4.65 0 004.34 3.22 9.335 9.335 0 01-5.77 1.984 9.47 9.47 0 01-1.109-.065 13.17 13.17 0 007.122 2.083c8.546 0 13.219-7.064 13.219-13.19 0-.201-.005-.401-.014-.6a9.432 9.432 0 002.319-2.4" fill="#415365" fill-rule="evenodd"/></svg></a>
    </div>
  </div>


      </div>
    </div>
  </div>
</div>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

