

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--large">
    <div  class="media large media--2-1 media--align-top media--justify-default media--flip-small media--flip-large news-feature-intro">
    <div  class="media__figure media__figure--top news-feature-intro">
              <div class="layout--2up">
                <div
   class="card card--news card--flush rhythm--large"
  
  
  
  
>
    <div class="logo-box">
  <img class="logo-box__img" srcset="../../images/logo-techcrunch.png, ../../images/logo-techcrunch@2x.png 2x" src="../../images/logo-techcrunch.png" alt="Tech Crunch logo">
</div>


  <div class="rhythm">
    <div>
<h4  class="heading heading--h4">
          Tech Crunch

</h4>

      <p>April 11, 2019</p>
    </div>

<h3  class="heading heading--h3">
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </a>

</h3>

    <p>
      Fusce pharetra libero a tortor convallis, a pharetra urna convallis. Vestibulum odio erat, ultrices ac malesuada et, semper ac mauris. 
    </p>
    </div>

</div>


                <div
   class="card card--news card--flush rhythm--large"
  
  
  
  
>
    <div class="logo-box">
  <img class="logo-box__img" srcset="../../images/logo-fleetowner.png, ../../images/logo-fleetowner@2x.png 2x" src="../../images/logo-fleetowner.png" alt="Fleet Owner logo">
</div>


  <div class="rhythm">
    <div>
<h4  class="heading heading--h4">
          Fleet Owner

</h4>

      <p>April 11, 2019</p>
    </div>

<h3  class="heading heading--h3">
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </a>

</h3>

    <p>
      Fusce pharetra libero a tortor convallis, a pharetra urna convallis. Vestibulum odio erat, ultrices ac malesuada et, semper ac mauris. 
    </p>
    </div>

</div>

            </div>

</div>

<div  class="media__body media__body--2-1 rhythm--large">
              <div class="rhythm--small">
<h4  class="heading heading--h4">
                      In the media

</h4>

<h2  class="heading heading--h2">
                      Our fleet & compliance management solutions are making headlines

</h2>
            </div>

            <p>
                Read recent Lytx news coverage about driver safety, fleet tracking, compliance and more.
            </p>

</div>

</div>

  </div>
</section>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

