

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"  class="icon--person"><path d="M2.333 12.333v1.334a.667.667 0 01-1.333 0v-1.334C1 10.29 4.22 9 7 9s6 1.29 6 3.333v1.334a.667.667 0 01-1.333 0v-1.334c0-.973-2.563-2-4.667-2-2.104 0-4.667 1.027-4.667 2zm8-8a3.333 3.333 0 11-6.666 0 3.333 3.333 0 116.666 0zM9 4.333a2 2 0 10-3.999-.001A2 2 0 009 4.333z" fill="#009CDE" stroke="#009CDE" stroke-width=".5"/></svg>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

