

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <section
   class="layout--full-width bg--white"
  
  
>
  <div  class="wrapper rhythm--default">
    <div  class="media media--2-1--rev media--align-center media--justify-default">
    <div  class="media__body media__body--2-1--rev rhythm--large">
        <h2 class="heading heading--h2">
        Improve safety and protect your bottom line
      </h2>
      <p>
        Video evidence can provide you with indisputable truth, which could help you exonerate your drivers and maintain profits by saving money on insurance claims. Our cloud-connected cameras provide reliable, continual recording, giving you 100 hours of video evidence anywhere you have an internet connection.
      </p>

</div>

<div  class="media__figure media__figure--center animate">
        <img src="/images/4_improve_safety.jpg" alt="lorem ipsum">

</div>

</div>

  </div>
</section>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

