

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
        <table class="table--specs">
      <tr>
        <th class="table--specs__heading heading heading--h3" colspan="2">Event Recorder Unit</th>
      </tr>

        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Weight</td>
          <td class="table--specs__cell table--specs__detail">.74 lb (336g) [.8 lb 363g]</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Dimensions (W x H x D)</td>
          <td class="table--specs__cell table--specs__detail">5.0 x 4.2 x 2.2 in</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Operating Temperature</td>
          <td class="table--specs__cell table--specs__detail">-40 °F to 185 °F</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Microphone</td>
          <td class="table--specs__cell table--specs__detail">Omnidirectional</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Speaker</td>
          <td class="table--specs__cell table--specs__detail">SF300: Yes.   SF64: No</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Status Lights</td>
          <td class="table--specs__cell table--specs__detail">7 LED (wide spectrum)</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Audible Alerts</td>
          <td class="table--specs__cell table--specs__detail">SF300: Yes.   SF64: No</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Night Vision Illumination</td>
          <td class="table--specs__cell table--specs__detail">8 high-lumen infrared LED lights</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Manual Record Buttons</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Industrial-grade Hardware</td>
          <td class="table--specs__cell table--specs__detail">Yes</td>
        </tr>
        <tr>
          <td class="table--specs__cell table--specs__label heading heading--h4">Limited Warranty</td>
          <td class="table--specs__cell table--specs__detail">2 Years</td>
        </tr>
  </table>

    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

