

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" class="social-icon"><g transform="rotate(90 24 25)" fill="none" fill-rule="evenodd"><circle stroke="#E8E9EB" fill="#F7F8F8" cx="24" cy="24" r="24"/><path d="M17.174 12.355c.369.833.618 1.728.73 2.668a4.652 4.652 0 00-2.565-2.043 9.316 9.316 0 011.125 2.95A4.645 4.645 0 0015 19.323a4.641 4.641 0 005.692 4.525 13.2 13.2 0 01-4.843 9.577 4.631 4.631 0 006.19-1.438 4.635 4.635 0 01-.58 2.104h.057a4.641 4.641 0 004.546-3.726 4.662 4.662 0 01.08 2.098 4.65 4.65 0 003.22-4.34 9.335 9.335 0 011.984 5.77c0 .375-.022.745-.065 1.108a13.17 13.17 0 002.083-7.122c0-8.545-7.064-13.218-13.19-13.218-.201 0-.401.004-.6.013a9.432 9.432 0 00-2.4-2.318" fill="#415365"/></g></svg>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

