

<!doctype html>
<html>
  <head>
		<title>Turn Component Library</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="apple-mobile-web-app-title" content="" />

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.96.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />

      <link rel="stylesheet" href="/styles.wheel.css" />

    
	</head>
	<body>
		  <main id="content" role="main">
    <div class="preview-layout preview-layout--block">
      <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" class="social-icon"><g transform="rotate(90 24 25)" fill="none" fill-rule="evenodd"><circle stroke="#E8E9EB" fill="#F7F8F8" cx="24" cy="24" r="24"/><path d="M27.553 26.478H20.81l3.383-6.484 3.36 6.484zM19.641 12.24s-1.654.235-2.382.954c-.956.913-.96 1.936-1.016 2.404C16 18.957 16 23.995 16 23.995v.01s0 5.038.243 8.396c.056.47.06 1.492 1.016 2.406.728.719 2.382.953 2.382.953s1.943.24 3.884.24h1.822c1.942 0 3.884-.24 3.884-.24s1.653-.234 2.382-.953c.956-.914.926-2.113 1.026-2.647.184-1.92.241-8.16.241-8.16s-.007-5.043-.25-8.402c-.056-.468-.061-1.491-1.017-2.404-.728-.72-2.382-.954-2.382-.954S27.289 12 25.347 12h-1.822c-1.941 0-3.884.24-3.884.24z" fill="#415365"/></g></svg>
    </div>
  </main>

    <script src="../../bundle.js"></script>
	</body>
</html>

